In [1]:
import pandas as pd
from pyspark.sql import SparkSession, functions as F
import lbl2vec
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import numpy as np
from pyspark.sql.functions import date_format
import statsmodels.api as sm
from statsmodels.formula.api import ols
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import OneHotEncoder, VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [2]:
# Create a spark session
spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "6g")
    .config("spark.executor.memory", "10g")
    .getOrCreate()
)

22/10/06 12:29:05 WARN Utils: Your hostname, MacBook-Air-3.local resolves to a loopback address: 127.0.0.1; using 192.168.0.66 instead (on interface en0)
22/10/06 12:29:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/06 12:29:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Read in data from ETL.py file
%run '../scripts/ETL.py' '../scripts/paths.json'

/Users/Kasturi/opt/anaconda3/lib/python3.9/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

22/10/06 12:29:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

22/10/06 12:30:02 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+------------+--------------------+---------+--------------+--------------------+--------------------+-----+------+------------------+------------------+--------------------+--------------+-------+-----------+---------+---------+---------+-------------------+----------------+-----------+-------------+-------------+----------+---------------+---------------+---------------+
|       merchant_name|merchant_abn|          categories|take_rate|revenue_levels|                name|             address|state|gender|trans_merchant_abn|      dollar_value|            order_id|order_datetime|user_id|consumer_id|postcodes|  int_sa2| SA2_code|           SA2_name|income_2018-2019|total_males|total_females|total_persons|state_code|     state_name|population_2020|population_2021|
+--------------------+------------+--------------------+---------+--------------+--------------------+--------------------+-----+------+------------------+------------------+--------------------+--------------+-------+-----------+---------+---------+---------+-------------------+----------------+-----------+-------------+-------------+----------+---------------+---------------+---------------+
|Egestas Nunc Asso...| 11121775571|digital goods: bo...|     6.58|             a|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       11121775571| 11.28829564583802|2bd2a61d-72e5-42d...|    2021-08-20|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
|Morbi Accumsan In...| 19618998054|tent and aWning s...|     1.52|             c|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       19618998054| 62.90176609196828|3582b1f8-4577-403...|    2021-05-16|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
| Eu Dolor Egestas PC| 94472466107|cable, satellite,...|     6.23|             a|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       94472466107|172.15375126873164|cb05d49f-c2fa-453...|    2021-07-22|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
|Urna Justo Indust...| 31472801314|music shops - mus...|     6.56|             a|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       31472801314|0.4894787650356477|aeec15c1-67e8-4cb...|    2021-05-18|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
|Eu Sem Pellentesq...| 35424691626|computers, comput...|      3.9|             b|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       35424691626| 7.360217018778133|9df473ba-102d-461...|    2021-07-04|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
+--------------------+------------+--------------------+---------+--------------+--------------------+--------------------+-----+------+------------------+------------------+--------------------+--------------+-------+-----------+---------+---------+---------+-------------------+----------------+-----------+-------------+-------------+----------+---------------+---------------+---------------+

In [5]:
tagged_merchants_sdf = spark.read.parquet("../data/curated/tagged_merchants.parquet")

In [6]:
tagged_merchants_sdf = tagged_merchants_sdf.withColumnRenamed('merchant_abn',

    'tagged_merchant_abn'
)

In [8]:
final_join3.createOrReplaceTempView("join")
tagged_merchants_sdf.createOrReplaceTempView("tagged")

joint = spark.sql(""" 

SELECT *
FROM join
INNER JOIN tagged
ON join.merchant_abn = tagged.tagged_merchant_abn
""")

joint = joint.drop('tagged_merchant_abn')

In [10]:
joint.createOrReplaceTempView("group")

main_data = spark.sql(""" 

SELECT *, ((take_rate/100)*dollar_value) AS BNPL_earnings
FROM group
""")

In [11]:
# Extracting the year, month, day from the timestamp
from pyspark.sql.functions import year, month

main_data = main_data.withColumn('Year', year(main_data.order_datetime))
main_data = main_data.withColumn('Month',month(main_data.order_datetime))

In [13]:
main_data = main_data.drop('merchant_abn', 'categories','name', 'address', 'trans_merchant_abn', 'order_id','order_datetime','user_id','consumer_id','int_sa2',
'SA2_name','state_code','state_name','population_2020', 'population_2021')

In [14]:
 
# Find Count of Null, None, NaN of All DataFrame Columns
from pyspark.sql.functions import col,isnan, when, count
main_data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in main_data.columns]
   ).show()

+-------------+---------+--------------+-----+------+------------+---------+--------+----------------+-----------+-------------+-------------+--------+----+-----+
|merchant_name|take_rate|revenue_levels|state|gender|dollar_value|postcodes|SA2_code|income_2018-2019|total_males|total_females|total_persons|category|Year|Month|
+-------------+---------+--------------+-----+------+------------+---------+--------+----------------+-----------+-------------+-------------+--------+----+-----+
|            0|        0|             0|    0|     0|           0|        0|       0|               0|          0|            0|            0|       0|   0|    0|
+-------------+---------+--------------+-----+------+------------+---------+--------+----------------+-----------+-------------+-------------+--------+----+-----+

In [16]:
main_data.createOrReplaceTempView("agg")

male = spark.sql(""" 

SELECT CONCAT(merchant_name, SA2_code, Year, Month) AS m_name, COUNT(gender) as males
FROM agg
WHERE gender = 'Male'
GROUP BY merchant_name, SA2_code, Year, Month
""")

male.show(5)

female = spark.sql(""" 

SELECT CONCAT(merchant_name, SA2_code, Year, Month) AS f_name, COUNT(gender) as females
FROM agg
WHERE gender = 'Female'
GROUP BY merchant_name, SA2_code, Year, Month
""")
female.show(5)

+--------------------+-----+
|              m_name|males|
+--------------------+-----+
|Semper Tellus PC1...|    2|
|Est Nunc Consulti...|   11|
|Ipsum Primis In I...|    2|
|Euismod In LLC601...|    1|
|Leo In Consulting...|    2|
+--------------------+-----+
only showing top 5 rows

+--------------------+-------+
|              f_name|females|
+--------------------+-------+
|Quis Tristique Lt...|      1|
|Nunc In Industrie...|      2|
|Nunc Sit LLC10902...|      2|
|Leo In Consulting...|      5|
|Risus Donec Assoc...|      1|
+--------------------+-------+
only showing top 5 rows

In [18]:
main_data.createOrReplaceTempView("agg")

main_agg = spark.sql(""" 

SELECT merchant_name, COUNT(merchant_name) AS no_of_transactions, SA2_code, Year, Month, SUM(BNPL_earnings) AS BNPL_earnings,
    CONCAT(merchant_name, SA2_code, Year, Month) AS join_col
FROM agg
GROUP BY merchant_name, SA2_code, Year, Month
""")

+--------------------+------------------+---------+----+-----+------------------+--------------------+
|       merchant_name|no_of_transactions| SA2_code|Year|Month|     BNPL_earnings|            join_col|
+--------------------+------------------+---------+----+-----+------------------+--------------------+
|  Pede Nonummy Corp.|                 6|205021084|2021|    8| 4.799853297090182|Pede Nonummy Corp...|
|    Semper Tellus PC|                 6|407031164|2021|    8| 5.130949438054894|Semper Tellus PC4...|
| Dui Nec Corporation|                 2|801041036|2021|    8|0.3360427752684496|Dui Nec Corporati...|
|Ac Turpis Egestas PC|                 1|405041127|2021|    7|10.308467169526438|Ac Turpis Egestas...|
|Lobortis Tellus C...|                 3|205021082|2021|    7|1.5850668161083081|Lobortis Tellus C...|
|   Est Ac Mattis Ltd|                 1|209011204|2021|    7| 7.740099999999999|Est Ac Mattis Ltd...|
| Egestas Blandit Ltd|                 2|601051031|2021|    8|10.542874846776181|Egestas Blandit L...|
|Lobortis Ultrices...|                20|205051104|2021|    8| 96.43022283804761|Lobortis Ultrices...|
|Pellentesque Habi...|                 4|306051169|2021|    8|13.660680007698396|Pellentesque Habi...|
|          Orci Corp.|                 1|112011238|2021|    8|0.1104789658542032|Orci Corp.1120112...|
|   Magna A Neque LLC|                 1|314011384|2021|    8| 3.585163519502161|Magna A Neque LLC...|
|Malesuada Vel Ass...|                 4|205021082|2021|    8|  68.1102310285627|Malesuada Vel Ass...|
|Vehicula Pellente...|                 6|212031306|2021|    7| 7.123741815183642|Vehicula Pellente...|
|Lacinia Orci Cons...|                 1|117031336|2021|    6|0.7794406679256547|Lacinia Orci Cons...|
|      Dui Foundation|                 1|105031099|2021|    8|0.9352347629085003|Dui Foundation105...|
|Pede Malesuada Co...|                 1|301021007|2021|    8|0.7640304369627666|Pede Malesuada Co...|
|Arcu Vestibulum C...|                 1|301031017|2021|    8|3.2907105051771306|Arcu Vestibulum C...|
|   Ac Sem Ut Company|                 1|405031121|2021|    8|25.012429611133804|Ac Sem Ut Company...|
|       Eu Tempor LLP|                 2|511041291|2021|    7|  30.0481814793116|Eu Tempor LLP5110...|
|Ipsum Dolor Sit C...|                23|406011131|2021|    7|10.084773060548834|Ipsum Dolor Sit C...|
+--------------------+------------------+---------+----+-----+------------------+--------------------+
only showing top 20 rows

In [19]:
main_agg.createOrReplaceTempView("gender_join")
male.createOrReplaceTempView("m")
female.createOrReplaceTempView("f")

temp2 = spark.sql(""" 

SELECT *
FROM gender_join
INNER JOIN m
ON gender_join.join_col = m.m_name
""")

temp2.createOrReplaceTempView("temp2")

temp3 = spark.sql(""" 

SELECT *
FROM temp2
INNER JOIN f
ON temp2.join_col = f.f_name
""")

temp3.limit(5)

+-----------------+------------------+---------+----+-----+------------------+--------------------+--------------------+-----+--------------------+-------+
|    merchant_name|no_of_transactions| SA2_code|Year|Month|     BNPL_earnings|            join_col|              m_name|males|              f_name|females|
+-----------------+------------------+---------+----+-----+------------------+--------------------+--------------------+-----+--------------------+-------+
|    A Aliquet Ltd|                 2|401021010|2021|    4|26.992403387635676|A Aliquet Ltd4010...|A Aliquet Ltd4010...|    1|A Aliquet Ltd4010...|      1|
|    A Aliquet Ltd|                 2|603011065|2021|   12|13.952609070322437|A Aliquet Ltd6030...|A Aliquet Ltd6030...|    1|A Aliquet Ltd6030...|      1|
|A Arcu Industries|                 2|124011453|2021|    8| 6.295097143230683|A Arcu Industries...|A Arcu Industries...|    1|A Arcu Industries...|      1|
|A Arcu Industries|                 2|211051282|2022|    3|20.261430692795514|A Arcu Industries...|A Arcu Industries...|    1|A Arcu Industries...|      1|
|A Arcu Industries|                 2|214021379|2021|    7|13.948663024022798|A Arcu Industries...|A Arcu Industries...|    1|A Arcu Industries...|      1|
+-----------------+------------------+---------+----+-----+------------------+--------------------+--------------------+-----+--------------------+-------+

In [20]:
main_data = main_data.withColumnRenamed('income_2018-2019',

    'income_2018_2019'    
)

main_data = main_data.withColumn('income_per_persons',
    (F.col('income_2018_2019')/F.col('total_persons'))
)

In [22]:
main_data.createOrReplaceTempView("features")

e = spark.sql(""" 

SELECT merchant_name AS drop_name, FIRST(take_rate) AS take_rate, FIRST(revenue_levels) AS revenue_levels, FIRST(category) AS category,
    FIRST(total_males) AS males_in_SA2, FIRST(total_females) AS females_in_SA2, FIRST(income_per_persons) AS income_per_person
FROM features
GROUP BY merchant_name
""")

e.show(2)

+---------------+---------+--------------+--------------------+------------+--------------+------------------+
|      drop_name|take_rate|revenue_levels|            category|males_in_SA2|females_in_SA2| income_per_person|
+---------------+---------+--------------+--------------------+------------+--------------+------------------+
|   A Associates|     4.95|             b|Books, Stationary...|        9762|         10846|22526.523772559674|
|A Felis Company|     4.32|             b|Books, Stationary...|        1080|          1051| 33927.61168708765|
+---------------+---------+--------------+--------------------+------------+--------------+------------------+
only showing top 2 rows

In [23]:
temp3.createOrReplaceTempView("edit")
e.createOrReplaceTempView("rates")

temp4 = spark.sql(""" 

SELECT *
FROM edit
INNER JOIN rates
ON edit.merchant_name = rates.drop_name
""")

train = temp4.drop('m_name', 'f_name', 'drop_name','join_col')

train.limit(5)

+-----------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+
|    merchant_name|no_of_transactions| SA2_code|Year|Month|     BNPL_earnings|males|females|take_rate|revenue_levels| category|males_in_SA2|females_in_SA2|income_per_person|
+-----------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+
|    A Aliquet Ltd|                 2|401021010|2021|    4|26.992403387635676|    1|      1|     3.87|             b|Furniture|        3292|          3206|28693.71558221812|
|    A Aliquet Ltd|                 2|603011065|2021|   12|13.952609070322437|    1|      1|     3.87|             b|Furniture|        3292|          3206|28693.71558221812|
|A Arcu Industries|                 2|124011453|2021|    8| 6.295097143230683|    1|      1|      3.0|             c|Furniture|        4821|          4683|25816.03452631579|
|A Arcu Industries|                 2|211051282|2022|    3|20.261430692795514|    1|      1|      3.0|             c|Furniture|        4821|          4683|25816.03452631579|
|A Arcu Industries|                 2|214021379|2021|    7|13.948663024022798|    1|      1|      3.0|             c|Furniture|        4821|          4683|25816.03452631579|
+-----------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+

In [24]:
train.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- no_of_transactions: long (nullable = false)
 |-- SA2_code: long (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- BNPL_earnings: double (nullable = true)
 |-- males: long (nullable = false)
 |-- females: long (nullable = false)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- category: string (nullable = true)
 |-- males_in_SA2: long (nullable = true)
 |-- females_in_SA2: long (nullable = true)
 |-- income_per_person: double (nullable = true)

In [25]:
train_projection = train.select("merchant_name", "SA2_code", "Year", "Month", 'BNPL_earnings')
train_projection.limit(5)

+-----------------+---------+----+-----+------------------+
|    merchant_name| SA2_code|Year|Month|     BNPL_earnings|
+-----------------+---------+----+-----+------------------+
|    A Aliquet Ltd|401021010|2021|    4|26.992403387635676|
|    A Aliquet Ltd|603011065|2021|   12|13.952609070322437|
|A Arcu Industries|124011453|2021|    8| 6.295097143230683|
|A Arcu Industries|211051282|2022|    3|20.261430692795514|
|A Arcu Industries|214021379|2021|    7|13.948663024022798|
+-----------------+---------+----+-----+------------------+

In [26]:
train_projection.count()

891622

In [27]:
train_projection = train_projection.withColumn("prev_year", \
              when(train_projection["Month"] == 1, train_projection['Year'] - 1).otherwise(train_projection['Year']))
train_projection = train_projection.withColumn("prev_month", \
              when(train_projection["Month"] == 1, 12).otherwise(train_projection['Month'] - 1))
train_projection = train_projection.drop("Year", "Month")
train_projection = train_projection.withColumnRenamed("BNPL_earnings", "future_earnings") \
                            .withColumnRenamed("merchant_name", "p_merchant_name") \
                            .withColumnRenamed("SA2_code", "p_SA2_code")
train_projection.limit(5)

+-----------------+----------+------------------+---------+----------+
|  p_merchant_name|p_SA2_code|   future_earnings|prev_year|prev_month|
+-----------------+----------+------------------+---------+----------+
|    A Aliquet Ltd| 401021010|26.992403387635676|     2021|         3|
|    A Aliquet Ltd| 603011065|13.952609070322437|     2021|        11|
|A Arcu Industries| 124011453| 6.295097143230683|     2021|         7|
|A Arcu Industries| 211051282|20.261430692795514|     2022|         2|
|A Arcu Industries| 214021379|13.948663024022798|     2021|         6|
+-----------------+----------+------------------+---------+----------+

In [28]:
train_projection.count()

891622

In [29]:
final_data = train.join(train_projection, (train.merchant_name == train_projection.p_merchant_name) & 
                           (train.SA2_code == train_projection.p_SA2_code) & 
                           (train.Year == train_projection.prev_year) & 
                           (train.Month == train_projection.prev_month), how = 'inner')

final_data = final_data.drop("p_merchant_name", "p_SA2_code","prev_year", "prev_month")
final_data.limit(5)

+--------------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+------------------+
|       merchant_name|no_of_transactions| SA2_code|Year|Month|     BNPL_earnings|males|females|take_rate|revenue_levels| category|males_in_SA2|females_in_SA2|income_per_person|   future_earnings|
+--------------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+------------------+
|A Auctor Non Corp...|                 3|202031033|2021|   11|12.370771858227933|    1|      2|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|10.904180800642823|
|A Auctor Non Corp...|                 3|205021082|2022|    7| 15.48985179311347|    1|      2|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|14.239726882661959|
|A Auctor Non Corp...|                 2|205031087|2021|    9|12.924007756706878|    1|      1|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|15.711660225849878|
|A Auctor Non Corp...|                 3|210021235|2022|    9| 9.041642383010874|    1|      2|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|10.781646624626871|
|A Auctor Non Corp...|                 4|211051282|2021|   10| 17.65711333410997|    2|      2|     5.58|             a|Furniture|        2067|          2014|22634.72370679088| 24.92588449432683|
+--------------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+------------------+

In [30]:
final_data.count()

344019

In [31]:
final_data.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- no_of_transactions: long (nullable = false)
 |-- SA2_code: long (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- BNPL_earnings: double (nullable = true)
 |-- males: long (nullable = false)
 |-- females: long (nullable = false)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- category: string (nullable = true)
 |-- males_in_SA2: long (nullable = true)
 |-- females_in_SA2: long (nullable = true)
 |-- income_per_person: double (nullable = true)
 |-- future_earnings: double (nullable = true)

In [32]:
final_data = final_data.withColumn('Year',

    F.col('Year').cast('STRING')

)

final_data = final_data.withColumn('Month',

    F.col('Month').cast('STRING')

)

final_data = final_data.withColumn('SA2_code',

    F.col('SA2_code').cast('STRING')

)

field = ['no_of_transactions', 'males', 'females', 'males_in_SA2', 'females_in_SA2']

for col in field:
    final_data = final_data.withColumn(col,

    F.col(col).cast('INT')

)

In [33]:
final_data.count()

344019

In [34]:
final_data.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- no_of_transactions: integer (nullable = false)
 |-- SA2_code: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- BNPL_earnings: double (nullable = true)
 |-- males: integer (nullable = false)
 |-- females: integer (nullable = false)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- category: string (nullable = true)
 |-- males_in_SA2: integer (nullable = true)
 |-- females_in_SA2: integer (nullable = true)
 |-- income_per_person: double (nullable = true)
 |-- future_earnings: double (nullable = true)

In [35]:
# String indexing the categorical columns

indexer = StringIndexer(inputCols = ['merchant_name', 'SA2_code', 'Year', 'Month', 'revenue_levels','category'],
outputCols = ['merchant_name_num', 'SA2_code_num', 'Year_num', 'Month_num', 'revenue_levels_num','category_num'], handleInvalid="keep")

indexd_data = indexer.fit(final_data).transform(final_data)


# Applying onehot encoding to the categorical data that is string indexed above
encoder = OneHotEncoder(inputCols = ['merchant_name_num', 'SA2_code_num', 'Year_num', 'Month_num', 'revenue_levels_num','category_num'],
outputCols = ['merchant_name_vec', 'SA2_code_vec', 'Year_vec', 'Month_vec', 'revenue_levels_vec','category_vec'])

onehotdata = encoder.fit(indexd_data).transform(indexd_data)


# Assembling the training data as a vector of features 
assembler1 = VectorAssembler(
inputCols=['merchant_name_vec', 'SA2_code_vec', 'Year_vec', 'Month_vec', 'revenue_levels_vec','category_vec','males_in_SA2','females_in_SA2', 'income_per_person', 'no_of_transactions','take_rate', 'BNPL_earnings'],
outputCol= "features" )

outdata1 = assembler1.transform(onehotdata)

In [36]:
# Renaming the target column as label

outdata1 = outdata1.withColumnRenamed(
    "future_earnings",
    "label"
)

In [37]:
# Assembling the features as a feature vector 

featureIndexer =\
    VectorIndexer(inputCol="features", 
    outputCol="indexedFeatures").fit(outdata1)

outdata1 = featureIndexer.transform(outdata1)

In [38]:
# Split the data into training and validation sets (30% held out for testing)

trainingData, testData = outdata1.randomSplit([0.7, 0.3], seed = 20)

In [39]:
trainingData.count(), testData.count()

22/10/06 12:05:01 WARN DAGScheduler: Broadcasting large task binary with size 1334.7 KiB

22/10/06 12:06:03 WARN DAGScheduler: Broadcasting large task binary with size 1334.6 KiB

(240552, 103467)

In [40]:
# Train a RandomForest model.
rf = RandomForestRegressor(featuresCol="indexedFeatures")


# Train model.  
model = rf.fit(trainingData)

# Make predictions.
predictions_validation = model.transform(testData)

22/10/06 12:07:05 WARN DAGScheduler: Broadcasting large task binary with size 1336.8 KiB

22/10/06 12:07:06 WARN DAGScheduler: Broadcasting large task binary with size 1336.9 KiB

22/10/06 12:07:08 WARN DAGScheduler: Broadcasting large task binary with size 1340.9 KiB

22/10/06 12:07:10 WARN DAGScheduler: Broadcasting large task binary with size 1453.5 KiB

22/10/06 12:07:15 WARN DAGScheduler: Broadcasting large task binary with size 1515.0 KiB

22/10/06 12:07:19 WARN DAGScheduler: Broadcasting large task binary with size 1635.9 KiB

22/10/06 12:07:22 WARN DAGScheduler: Broadcasting large task binary with size 1875.2 KiB

22/10/06 12:07:26 WARN DAGScheduler: Broadcasting large task binary with size 2.3 MiB

In [41]:
# Evaluate the validation set 

predictions_validation.select("prediction", "label", "features").show(5)

# Select (prediction, true label) and compute test error

evaluator_train_rmse = RegressionEvaluator(
    labelCol="label", predictionCol="prediction", metricName="rmse")
rmse_train = evaluator_train_rmse.evaluate(predictions_validation)
print("Root Mean Squared Error (RMSE) on train data = %g" % rmse_train)

evaluator_train_mae = RegressionEvaluator(
    labelCol="label", predictionCol="prediction", metricName="mae")
mae_train = evaluator_train_mae.evaluate(predictions_validation)
print("Mean Absolutee Error (MAE) on train data = %g" % mae_train)

22/10/06 12:08:30 WARN DAGScheduler: Broadcasting large task binary with size 1349.0 KiB

+------------------+------------------+--------------------+
|        prediction|             label|            features|
+------------------+------------------+--------------------+
|14.374550261201131|10.371985605001125|(2085,[209,1093,2...|
|16.097069456877055|10.904180800642823|(2085,[209,988,20...|
|16.097069456877055| 16.17062601935629|(2085,[209,976,20...|
| 23.41853206639803| 24.92588449432683|(2085,[209,989,20...|
|15.893541867643815| 9.031191799689866|(2085,[209,1039,2...|
+------------------+------------------+--------------------+
only showing top 5 rows

22/10/06 12:09:30 WARN DAGScheduler: Broadcasting large task binary with size 1342.1 KiB

22/10/06 12:09:32 WARN DAGScheduler: Broadcasting large task binary with size 1343.2 KiB
Root Mean Squared Error (RMSE) on train data = 16.9133

22/10/06 12:10:31 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB

22/10/06 12:10:33 WARN DAGScheduler: Broadcasting large task binary with size 1343.1 KiB
Mean Absolutee Error (MAE) on train data = 10.1052

In [42]:
def ExtractFeatureImportance(featureImp, dataset, featuresCol):
    list_extract = []
    for i in dataset.schema[featuresCol].metadata["ml_attr"]["attrs"]:
        list_extract = list_extract + dataset.schema[featuresCol].metadata["ml_attr"]["attrs"][i]
    varlist = pd.DataFrame(list_extract)
    varlist['score'] = varlist['idx'].apply(lambda x: featureImp[x])
    return(varlist.sort_values('score', ascending = False))
  
  
#ExtractFeatureImportance(model.stages[-1].featureImportances, dataset, "features")
dataset_fi = ExtractFeatureImportance(model.featureImportances, predictions_validation, "features")
dataset_fi = spark.createDataFrame(dataset_fi)
display(dataset_fi)

+----+--------------------+--------------------+
| idx|                name|               score|
+----+--------------------+--------------------+
|2084|       BNPL_earnings|  0.7390954206481533|
|2083|           take_rate| 0.06469761235430271|
|2082|  no_of_transactions|0.058624934494866165|
|2070|revenue_levels_vec_c|0.026625018879601666|
|2069|revenue_levels_vec_a| 0.01674814365941404|
|  62|merchant_name_vec...| 0.01159175120096288|
|  20|merchant_name_vec...|0.010485925721392512|
| 408|merchant_name_vec...|0.006493135650004...|
| 588|merchant_name_vec...|0.005743857535254896|
| 975|SA2_code_vec_4060...|0.005708348647369977|
|2081|   income_per_person|0.005617144279383311|
|  17|merchant_name_vec...|0.005504801496848183|
|2074|category_vec_Book...|0.004888967805299171|
|2071|revenue_levels_vec_b|0.004666690138622385|
|2078|category_vec_Beau...|0.003966022151606461|
|  11|merchant_name_vec...|0.003189812206447...|
|2080|      females_in_SA2|0.003032148934215298|
|2066|        Month_vec_12|0.002293191946679...|
|2076|category_vec_Furn...|0.002229919389061...|
| 252|merchant_name_vec...|0.001241597955200...|
+----+--------------------+--------------------+
only showing top 20 rows

In [43]:
latest_year = train.select(max('Year')).collect()[0][0]
agg_month_1 = train.filter(train.Year == latest_year)
latest_month = agg_month_1.select(max('Month')).collect()[0][0]
predicting_data = agg_month_1.filter(train.Month == latest_month)
predicting_data = predicting_data.withColumn("future_earnings", lit(0))
predicting_data.limit(5)

+--------------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+---------------+
|       merchant_name|no_of_transactions| SA2_code|Year|Month|     BNPL_earnings|males|females|take_rate|revenue_levels| category|males_in_SA2|females_in_SA2|income_per_person|future_earnings|
+--------------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+---------------+
|A Auctor Non Corp...|                 3|125031480|2022|   10|12.147884844463512|    1|      2|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|              0|
|A Auctor Non Corp...|                 3|126011496|2022|   10|  12.1459052958297|    1|      2|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|              0|
|A Auctor Non Corp...|                 3|211051282|2022|   10|11.865180056741202|    2|      1|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|              0|
|A Auctor Non Corp...|                 2|509021239|2022|   10|6.2879797684448295|    1|      1|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|              0|
|A Auctor Non Corp...|                 6|509021240|2022|   10|21.405039018312202|    3|      2|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|              0|
+--------------------+------------------+---------+----+-----+------------------+-----+-------+---------+--------------+---------+------------+--------------+-----------------+---------------+

In [44]:
# String indexing the categorical columns

indexer = StringIndexer(inputCols = ['merchant_name', 'SA2_code', 'Year', 'Month', 'revenue_levels','category'],
outputCols = ['merchant_name_num', 'SA2_code_num', 'Year_num', 'Month_num', 'revenue_levels_num','category_num'], handleInvalid="keep")

indexd_data = indexer.fit(predicting_data).transform(predicting_data)


# Applying onehot encoding to the categorical data that is string indexed above
encoder = OneHotEncoder(inputCols = ['merchant_name_num', 'SA2_code_num', 'Year_num', 'Month_num', 'revenue_levels_num','category_num'],
outputCols = ['merchant_name_vec', 'SA2_code_vec', 'Year_vec', 'Month_vec', 'revenue_levels_vec','category_vec'])

onehotdata = encoder.fit(indexd_data).transform(indexd_data)


# Assembling the training data as a vector of features 
assembler1 = VectorAssembler(
inputCols=['merchant_name_vec', 'SA2_code_vec', 'Year_vec', 'Month_vec', 'revenue_levels_vec','category_vec','males_in_SA2','females_in_SA2', 'income_per_person', 'no_of_transactions','take_rate', 'BNPL_earnings'],
outputCol= "features" )

outdata1 = assembler1.transform(onehotdata)

# Renaming the target column as label

outdata1 = outdata1.withColumnRenamed(
    "future_earnings",
    "label"
)


# Assembling the features as a feature vector 

featureIndexer =\
    VectorIndexer(inputCol="features", 
    outputCol="indexedFeatures").fit(outdata1)

outdata1 = featureIndexer.transform(outdata1)

In [45]:
predictions_test = model.transform(outdata1)

In [46]:
predictions_test.show()

22/10/06 12:13:05 WARN DAGScheduler: Broadcasting large task binary with size 1190.6 KiB
+--------------------+------------------+---------+----+-----+-------------------+-----+-------+---------+--------------+--------------------+------------+--------------+------------------+-----+-----------------+------------+--------+---------+------------------+------------+------------------+------------------+-------------+-------------+------------------+-------------+--------------------+--------------------+-----------------+
|       merchant_name|no_of_transactions| SA2_code|Year|Month|      BNPL_earnings|males|females|take_rate|revenue_levels|            category|males_in_SA2|females_in_SA2| income_per_person|label|merchant_name_num|SA2_code_num|Year_num|Month_num|revenue_levels_num|category_num| merchant_name_vec|      SA2_code_vec|     Year_vec|    Month_vec|revenue_levels_vec| category_vec|            features|     indexedFeatures|       prediction|
+--------------------+------------------+---------+----+-----+-------------------+-----+-------+---------+--------------+--------------------+------------+--------------+------------------+-----+-----------------+------------+--------+---------+------------------+------------+------------------+------------------+-------------+-------------+------------------+-------------+--------------------+--------------------+-----------------+
|A Auctor Non Corp...|                 3|125031480|2022|   10| 12.147884844463512|    1|      2|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|       457.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])|(1079,[457],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1838,2...|(2478,[234,1838,2...|7.707654450567756|
|A Auctor Non Corp...|                 3|126011496|2022|   10|   12.1459052958297|    1|      2|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|       131.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])|(1079,[131],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1512,2...|(2478,[234,1512,2...|7.707654450567756|
|A Auctor Non Corp...|                 3|211051282|2022|   10| 11.865180056741202|    2|      1|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|        14.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])| (1079,[14],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1395,2...|(2478,[234,1395,2...|7.707654450567756|
|A Auctor Non Corp...|                 2|509021239|2022|   10| 6.2879797684448295|    1|      1|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|        31.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])| (1079,[31],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1412,2...|(2478,[234,1412,2...|7.707654450567756|
|A Auctor Non Corp...|                 6|509021240|2022|   10| 21.405039018312202|    3|      2|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|         8.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])|  (1079,[8],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1389,2...|(2478,[234,1389,2...|7.707654450567756|
|A Auctor Non Corp...|                 3|601021012|2022|   10| 12.931520020178993|    2|      1|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|       119.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])|(1079,[119],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1500,2...|(2478,[234,1500,2...|7.707654450567756|
|A Auctor Non Corp...|                 2|601041022|2022|   10| 3.1140842864955847|    1|      1|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|       163.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])|(1079,[163],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1544,2...|(2478,[234,1544,2...|7.707654450567756|
|A Auctor Non Corp...|                 3|601061034|2022|   10|  8.242977489622186|    2|      1|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|       104.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])|(1079,[104],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1485,2...|(2478,[234,1485,2...|7.707654450567756|
|A Auctor Non Corp...|                 2|801071080|2022|   10| 10.925455864299897|    1|      1|     5.58|             a|           Furniture|        2067|          2014| 22634.72370679088|    0|            234.0|       195.0|     0.0|      0.0|               0.0|         2.0|(1381,[234],[1.0])|(1079,[195],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[2],[1.0])|(2478,[234,1576,2...|(2478,[234,1576,2...|7.707654450567756|
|             A Corp.|                 4|125041489|2022|   10| 19.883103542778475|    1|      3|     6.57|             a|Beauty, Health, P...|        4651|          4381|28449.542344735968|    0|            527.0|       385.0|     0.0|      0.0|               0.0|         4.0|(1381,[527],[1.0])|(1079,[385],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[4],[1.0])|(2478,[527,1766,2...|(2478,[527,1766,2...|7.707654450567756|
|             A Corp.|                 2|315031410|2022|   10|  23.13248107625592|    1|      1|     6.57|             a|Beauty, Health, P...|        4651|          4381|28449.542344735968|    0|            527.0|        37.0|     0.0|      0.0|               0.0|         4.0|(1381,[527],[1.0])| (1079,[37],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[4],[1.0])|(2478,[527,1418,2...|(2478,[527,1418,2...|7.707654450567756|
|     A Dui Institute|                 2|122021421|2022|   10| 22.711464685171784|    1|      1|     5.74|             a|Beauty, Health, P...|       10398|         11341| 56320.57395224732|    0|            656.0|       139.0|     0.0|      0.0|               0.0|         4.0|(1381,[656],[1.0])|(1079,[139],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[4],[1.0])|(2478,[656,1520,2...|(2478,[656,1520,2...|7.707654450567756|
|     A Dui Institute|                 2|308031222|2022|   10|  76.97468219305892|    1|      1|     5.74|             a|Beauty, Health, P...|       10398|         11341| 56320.57395224732|    0|            656.0|       847.0|     0.0|      0.0|               0.0|         4.0|(1381,[656],[1.0])|(1079,[847],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[0],[1.0])|(5,[4],[1.0])|(2478,[656,2228,2...|(2478,[656,2228,2...|7.707654450567756|
|      A Facilisis PC|                 2|124011453|2022|   10|0.27424746131978045|    1|      1|     2.73|             c|        Toys and DIY|        2309|          2307| 38512.59250433276|    0|            173.0|        74.0|     0.0|      0.0|               2.0|         3.0|(1381,[173],[1.0])| (1079,[74],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[2],[1.0])|(5,[3],[1.0])|(2478,[173,1455,2...|(2478,[173,1455,2...|7.707654450567756|
|      A Facilisis PC|                 2|212011289|2022|   10| 0.9522242283859026|    1|      1|     2.73|             c|        Toys and DIY|        2309|          2307| 38512.59250433276|    0|            173.0|       134.0|     0.0|      0.0|               2.0|         3.0|(1381,[173],[1.0])|(1079,[134],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[2],[1.0])|(5,[3],[1.0])|(2478,[173,1515,2...|(2478,[173,1515,2...|7.707654450567756|
|      A Facilisis PC|                 2|304011082|2022|   10| 1.1570225227096917|    1|      1|     2.73|             c|        Toys and DIY|        2309|          2307| 38512.59250433276|    0|            173.0|       972.0|     0.0|      0.0|               2.0|         3.0|(1381,[173],[1.0])|(1079,[972],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[2],[1.0])|(5,[3],[1.0])|(2478,[173,2353,2...|(2478,[173,2353,2...|7.707654450567756|
|      A Facilisis PC|                 3|307021180|2022|   10| 0.9545325664490614|    2|      1|     2.73|             c|        Toys and DIY|        2309|          2307| 38512.59250433276|    0|            173.0|       115.0|     0.0|      0.0|               2.0|         3.0|(1381,[173],[1.0])|(1079,[115],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[2],[1.0])|(5,[3],[1.0])|(2478,[173,1496,2...|(2478,[173,1496,2...|7.707654450567756|
|      A Facilisis PC|                 3|405021119|2022|   10| 2.6232638017119227|    1|      2|     2.73|             c|        Toys and DIY|        2309|          2307| 38512.59250433276|    0|            173.0|        12.0|     0.0|      0.0|               2.0|         3.0|(1381,[173],[1.0])| (1079,[12],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[2],[1.0])|(5,[3],[1.0])|(2478,[173,1393,2...|(2478,[173,1393,2...|7.707654450567756|
|      A Facilisis PC|                 3|509021242|2022|   10| 1.2034763849915984|    1|      2|     2.73|             c|        Toys and DIY|        2309|          2307| 38512.59250433276|    0|            173.0|         3.0|     0.0|      0.0|               2.0|         3.0|(1381,[173],[1.0])|  (1079,[3],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[2],[1.0])|(5,[3],[1.0])|(2478,[173,1384,2...|(2478,[173,1384,2...|7.707654450567756|
|A Felis Ullamcorp...|                 2|106011111|2022|   10| 25.478512243507254|    1|      1|      4.4|             b|Beauty, Health, P...|        3881|          4028| 38392.89239144196|    0|            369.0|       437.0|     0.0|      0.0|               1.0|         4.0|(1381,[369],[1.0])|(1079,[437],[1.0])|(1,[0],[1.0])|(1,[0],[1.0])|     (5,[1],[1.0])|(5,[4],[1.0])|(2478,[369,1818,2...|(2478,[369,1818,2...|7.707654450567756|
+--------------------+------------------+---------+----+-----+-------------------+-----+-------+---------+--------------+--------------------+------------+--------------+------------------+-----+-----------------+------------+--------+---------+------------------+------------+------------------+------------------+-------------+-------------+------------------+-------------+--------------------+--------------------+-----------------+
only showing top 20 rows

In [47]:
predictions_test.createOrReplaceTempView("preds")

pred = spark.sql(""" 

SELECT merchant_name, SUM(prediction) AS total_earnings_of_BNPL
FROM preds
GROUP BY merchant_name

""")

+--------------------+----------------------+
|       merchant_name|total_earnings_of_BNPL|
+--------------------+----------------------+
|Dictum Mi Incorpo...|    15.415308901135512|
|   Dictum Mi Limited|     416.2133403306589|
|Donec Luctus Indu...|     107.9071623079486|
|Elit Sed Consequa...|    354.55210472611685|
|Hendrerit Consect...|      69.3688900551098|
+--------------------+----------------------+

In [48]:
pred.count()

1381

In [49]:
pred_df = pred.toPandas()

In [50]:
pred_df.to_csv("../data/curated/BNPL_earnings.csv")