In [2]:
# Read in data from ETL.py file
%run '../scripts/Revenue_model.py' '../scripts/paths.json'

22/10/06 14:27:29 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

22/10/06 14:30:16 WARN DAGScheduler: Broadcasting large task binary with size 1337.4 KiB

22/10/06 14:30:17 WARN DAGScheduler: Broadcasting large task binary with size 1337.5 KiB

22/10/06 14:30:18 WARN DAGScheduler: Broadcasting large task binary with size 1341.5 KiB

22/10/06 14:30:20 WARN DAGScheduler: Broadcasting large task binary with size 1454.2 KiB

22/10/06 14:30:26 WARN DAGScheduler: Broadcasting large task binary with size 1515.9 KiB

22/10/06 14:30:29 WARN DAGScheduler: Broadcasting large task binary with size 1636.9 KiB

22/10/06 14:30:33 WARN DAGScheduler: Broadcasting large task binary with size 1879.0 KiB

22/10/06 14:30:36 WARN DAGScheduler: Broadcasting large task binary with size 2.3 MiB

22/10/06 14:31:35 WARN DAGScheduler: Broadcasting large task binary with size 1342.3 KiB

22/10/06 14:31:36 WARN DAGScheduler: Broadcasting large task binary with size 1343.4 KiB
Root Mean Squared Error (RMSE) on train data = 340.405

22/10/06 14:32:34 WARN DAGScheduler: Broadcasting large task binary with size 1342.7 KiB

22/10/06 14:32:35 WARN DAGScheduler: Broadcasting large task binary with size 1343.8 KiB
Mean Absolutee Error (MAE) on train data = 210.948

AnalysisException: Column 'r' does not exist. Did you mean one of the following? [edit.Year, edit.Month, edit.males, edit.females, edit.SA2_code, rates.category, rates.take_rate, rates.males_in_SA2, edit.merchant_name, edit.total_earnings, rates.females_in_SA2, rates.revenue_levels, rates.income_per_person, edit.no_of_transactions];
'Project ['r]
+- Project [merchant_name#193, no_of_transactions#876L, SA2_code#535L, Year#739, Month#770, total_earnings#877, males#867L, females#872L, take_rate#1103, revenue_levels#1105, category#1107, males_in_SA2#1109L, females_in_SA2#1111L, income_per_person#1113]
   +- Project [merchant_name#193, no_of_transactions#876L, SA2_code#535L, Year#739, Month#770, total_earnings#877, join_col#878, m_name#866, males#867L, f_name#871, females#872L, drop_name#1101, take_rate#1103, revenue_levels#1105, category#1107, males_in_SA2#1109L, females_in_SA2#1111L, income_per_person#1113]
      +- Join Inner, (merchant_name#193 = drop_name#1101)
         :- SubqueryAlias edit
         :  +- View (`edit`, [merchant_name#193,no_of_transactions#876L,SA2_code#535L,Year#739,Month#770,total_earnings#877,join_col#878,m_name#866,males#867L,f_name#871,females#872L])
         :     +- Project [merchant_name#193, no_of_transactions#876L, SA2_code#535L, Year#739, Month#770, total_earnings#877, join_col#878, m_name#866, males#867L, f_name#871, females#872L]
         :        +- Join Inner, (join_col#878 = f_name#871)
         :           :- SubqueryAlias temp
         :           :  +- View (`temp`, [merchant_name#193,no_of_transactions#876L,SA2_code#535L,Year#739,Month#770,total_earnings#877,join_col#878,m_name#866,males#867L])
         :           :     +- Project [merchant_name#193, no_of_transactions#876L, SA2_code#535L, Year#739, Month#770, total_earnings#877, join_col#878, m_name#866, males#867L]
         :           :        +- Join Inner, (join_col#878 = m_name#866)
         :           :           :- SubqueryAlias gender_join
         :           :           :  +- View (`gender_join`, [merchant_name#193,no_of_transactions#876L,SA2_code#535L,Year#739,Month#770,total_earnings#877,join_col#878])
         :           :           :     +- Aggregate [merchant_name#193, SA2_code#535L, Year#739, Month#770], [merchant_name#193, count(merchant_name#193) AS no_of_transactions#876L, SA2_code#535L, Year#739, Month#770, sum((dollar_value#41 - percent#709)) AS total_earnings#877, concat(merchant_name#193, cast(SA2_code#535L as string), cast(Year#739 as string), cast(Month#770 as string)) AS join_col#878]
         :           :           :        +- SubqueryAlias agg
         :           :           :           +- View (`agg`, [merchant_name#193,take_rate#175,revenue_levels#181,state#19,gender#21,dollar_value#41,postcodes#315,SA2_code#535L,income_2018-2019#537L,total_males#538L,total_females#539L,total_persons#540L,category#645,percent#709,Year#739,Month#770])
         :           :           :              +- Project [merchant_name#193, take_rate#175, revenue_levels#181, state#19, gender#21, dollar_value#41, postcodes#315, SA2_code#535L, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, category#645, percent#709, Year#739, Month#770]
         :           :           :                 +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, int_sa2#499, SA2_code#535L, SA2_name#536, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, state_code#541L, ... 7 more fields]
         :           :           :                    +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, int_sa2#499, SA2_code#535L, SA2_name#536, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, state_code#541L, ... 6 more fields]
         :           :           :                       +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, int_sa2#499, SA2_code#535L, SA2_name#536, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, state_code#541L, ... 5 more fields]
         :           :           :                          +- SubqueryAlias group
         :           :           :                             +- View (`group`, [merchant_name#193,merchant_abn#31L,categories#170,take_rate#175,revenue_levels#181,name#17,address#18,state#19,gender#21,trans_merchant_abn#214L,dollar_value#41,order_id#42,order_datetime#43,user_id#35L,consumer_id#36L,postcodes#315,int_sa2#499,SA2_code#535L,SA2_name#536,income_2018-2019#537L,total_males#538L,total_females#539L,total_persons#540L,state_code#541L,state_name#542,population_2020#543L,population_2021#544L,category#645])
         :           :           :                                +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, int_sa2#499, SA2_code#535L, SA2_name#536, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, state_code#541L, ... 4 more fields]
         :           :           :                                   +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, int_sa2#499, SA2_code#535L, SA2_name#536, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, state_code#541L, ... 5 more fields]
         :           :           :                                      +- Join Inner, (merchant_abn#31L = tagged_merchant_abn#648L)
         :           :           :                                         :- SubqueryAlias join
         :           :           :                                         :  +- View (`join`, [merchant_name#193,merchant_abn#31L,categories#170,take_rate#175,revenue_levels#181,name#17,address#18,state#19,gender#21,trans_merchant_abn#214L,dollar_value#41,order_id#42,order_datetime#43,user_id#35L,consumer_id#36L,postcodes#315,int_sa2#499,SA2_code#535L,SA2_name#536,income_2018-2019#537L,total_males#538L,total_females#539L,total_persons#540L,state_code#541L,state_name#542,population_2020#543L,population_2021#544L])
         :           :           :                                         :     +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, int_sa2#499, SA2_code#535L, SA2_name#536, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, state_code#541L, ... 3 more fields]
         :           :           :                                         :        +- Join Inner, (cast(int_sa2#499 as bigint) = SA2_code#535L)
         :           :           :                                         :           :- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, int_sa2#499]
         :           :           :                                         :           :  +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, sa2#316, cast(sa2#316 as int) AS int_sa2#499]
         :           :           :                                         :           :     +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L, postcodes#315, sa2#316]
         :           :           :                                         :           :        +- Join Inner, (postcode#20 = postcodes#315)
         :           :           :                                         :           :           :- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, postcode#20, gender#21, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L]
         :           :           :                                         :           :           :  +- Project [merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181, name#17, address#18, state#19, postcode#20, gender#21, trans_user_id#220L, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43, user_id#35L, consumer_id#36L]
         :           :           :                                         :           :           :     +- Join FullOuter, (merchant_abn#31L = trans_merchant_abn#214L)
         :           :           :                                         :           :           :        :- Project [name#29 AS merchant_name#193, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181]
         :           :           :                                         :           :           :        :  +- Project [name#29, merchant_abn#31L, categories#170, take_rate#175, revenue_levels#181]
         :           :           :                                         :           :           :        :     +- Project [name#29, tags#166, merchant_abn#31L, categories#170, take_rate#175, split(tags#166, [)\]], [\[(], -1)[1] AS revenue_levels#181]
         :           :           :                                         :           :           :        :        +- Project [name#29, tags#166, merchant_abn#31L, categories#170, cast(split(tags#166, [)\]], [\[(]take rate: , -1)[1] as double) AS take_rate#175]
         :           :           :                                         :           :           :        :           +- Project [name#29, tags#166, merchant_abn#31L, split(tags#166, [)\]], [\[(], -1)[0] AS categories#170]
         :           :           :                                         :           :           :        :              +- Project [name#29, regexp_replace(tags#161, [\[(][\[(], , 1) AS tags#166, merchant_abn#31L]
         :           :           :                                         :           :           :        :                 +- Project [name#29, regexp_replace(tags#30, [\])][\])], , 1) AS tags#161, merchant_abn#31L]
         :           :           :                                         :           :           :        :                    +- Relation [name#29,tags#30,merchant_abn#31L] parquet
         :           :           :                                         :           :           :        +- Join Inner, (int_consumer_id#199L = consumer_id#36L)
         :           :           :                                         :           :           :           :- Project [name#17, address#18, state#19, postcode#20, gender#21, int_consumer_id#199L]
         :           :           :                                         :           :           :           :  +- Project [name#17, address#18, state#19, postcode#20, gender#21, consumer_id#22, cast(consumer_id#22 as bigint) AS int_consumer_id#199L]
         :           :           :                                         :           :           :           :     +- Relation [name#17,address#18,state#19,postcode#20,gender#21,consumer_id#22] csv
         :           :           :                                         :           :           :           +- Join Inner, (trans_user_id#220L = user_id#35L)
         :           :           :                                         :           :           :              :- Project [user_id#39L AS trans_user_id#220L, trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43]
         :           :           :                                         :           :           :              :  +- Project [user_id#39L, merchant_abn#40L AS trans_merchant_abn#214L, dollar_value#41, order_id#42, order_datetime#43]
         :           :           :                                         :           :           :              :     +- Sort [order_datetime#43 ASC NULLS FIRST], true
         :           :           :                                         :           :           :              :        +- Deduplicate [order_id#42, order_datetime#43, user_id#39L, dollar_value#41, merchant_abn#40L]
         :           :           :                                         :           :           :              :           +- Union false, false
         :           :           :                                         :           :           :              :              :- Deduplicate [order_id#42, order_datetime#43, user_id#39L, dollar_value#41, merchant_abn#40L]
         :           :           :                                         :           :           :              :              :  +- Union false, false
         :           :           :                                         :           :           :              :              :     :- Relation [user_id#39L,merchant_abn#40L,dollar_value#41,order_id#42,order_datetime#43] parquet
         :           :           :                                         :           :           :              :              :     +- Relation [user_id#49L,merchant_abn#50L,dollar_value#51,order_id#52,order_datetime#53] parquet
         :           :           :                                         :           :           :              :              +- Relation [user_id#59L,merchant_abn#60L,dollar_value#61,order_id#62,order_datetime#63] parquet
         :           :           :                                         :           :           :              +- Relation [user_id#35L,consumer_id#36L] parquet
         :           :           :                                         :           :           +- Deduplicate [postcodes#315]
         :           :           :                                         :           :              +- Filter atleastnnonnulls(2, postcodes#315, sa2#316)
         :           :           :                                         :           :                 +- Project [postcode#244 AS postcodes#315, SA2_MAINCODE_2016#261 AS sa2#316]
         :           :           :                                         :           :                    +- Relation [id#243,postcode#244,locality#245,state#246,long#247,lat#248,dc#249,type#250,status#251,sa3#252,sa3name#253,sa4#254,sa4name#255,region#256,Lat_precise#257,Long_precise#258,SA1_MAINCODE_2011#259,SA1_MAINCODE_2016#260,SA2_MAINCODE_2016#261,SA2_NAME_2016#262,SA3_CODE_2016#263,SA3_NAME_2016#264,SA4_CODE_2016#265,SA4_NAME_2016#266,... 12 more fields] csv
         :           :           :                                         :           +- LogicalRDD [SA2_code#535L, SA2_name#536, income_2018-2019#537L, total_males#538L, total_females#539L, total_persons#540L, state_code#541L, state_name#542, population_2020#543L, population_2021#544L], false
         :           :           :                                         +- SubqueryAlias tagged
         :           :           :                                            +- View (`tagged`, [tagged_merchant_abn#648L,category#645])
         :           :           :                                               +- Project [merchant_abn#644L AS tagged_merchant_abn#648L, category#645]
         :           :           :                                                  +- Relation [merchant_abn#644L,category#645] parquet
         :           :           +- SubqueryAlias male_agg
         :           :              +- View (`male_agg`, [m_name#866,males#867L])
         :           :                 +- Aggregate [merchant_name#193, SA2_code#950L, Year#739, Month#770], [concat(merchant_name#193, cast(SA2_code#950L as string), cast(Year#739 as string), cast(Month#770 as string)) AS m_name#866, count(gender#895) AS males#867L]
         :           :                    +- Filter (gender#895 = Male)
         :           :                       +- SubqueryAlias agg
         :           :                          +- View (`agg`, [merchant_name#193,take_rate#175,revenue_levels#181,state#893,gender#895,dollar_value#899,postcodes#315,SA2_code#950L,income_2018-2019#952L,total_males#953L,total_females#954L,total_persons#955L,category#961,percent#709,Year#739,Month#770])
         :           :                             +- Project [merchant_name#193, take_rate#175, revenue_levels#181, state#893, gender#895, dollar_value#899, postcodes#315, SA2_code#950L, income_2018-2019#952L, total_males#953L, total_females#954L, total_persons#955L, category#961, percent#709, Year#739, Month#770]
         :           :                                +- Project [merchant_name#193, merchant_abn#890L, categories#170, take_rate#175, revenue_levels#181, name#891, address#892, state#893, gender#895, trans_merchant_abn#214L, dollar_value#899, order_id#900, order_datetime#901, user_id#912L, consumer_id#913L, postcodes#315, int_sa2#499, SA2_code#950L, SA2_name#951, income_2018-2019#952L, total_males#953L, total_females#954L, total_persons#955L, state_code#956L, ... 7 more fields]
         :           :                                   +- Project [merchant_name#193, merchant_abn#890L, categories#170, take_rate#175, revenue_levels#181, name#891, address#892, state#893, gender#895, trans_merchant_abn#214L, dollar_value#899, order_id#900, order_datetime#901, user_id#912L, consumer_id#913L, postcodes#315, int_sa2#499, SA2_code#950L, SA2_name#951, income_2018-2019#952L, total_males#953L, total_females#954L, total_persons#955L, state_code#956L, ... 6 more fields]
         :           :                                      +- Project [merchant_name#193, merchant_abn#890L, categories#170, take_rate#175, revenue_levels#181, name#891, address#892, state#893, gender#895, trans_merchant_abn#214L, dollar_value#899, order_id#900, order_datetime#901, user_id#912L, consumer_id#913L, postcodes#315, int_sa2#499, SA2_code#950L, SA2_name#951, income_2018-2019#952L, total_males#953L, total_females#954L, total_persons#955L, state_code#956L, ... 5 more fields]
         :           :                                         +- SubqueryAlias group
         :           :                                            +- View (`group`, [merchant_name#193,merchant_abn#890L,categories#170,take_rate#175,revenue_levels#181,name#891,address#892,state#893,gender#895,trans_merchant_abn#214L,dollar_value#899,order_id#900,order_datetime#901,user_id#912L,consumer_id#913L,postcodes#315,int_sa2#499,SA2_code#950L,SA2_name#951,income_2018-2019#952L,total_males#953L,total_females#954L,total_persons#955L,state_code#956L,state_name#957,population_2020#958L,population_2021#959L,category#961])