In [65]:
import pandas as pd
from pyspark.sql import SparkSession, functions as F
import lbl2vec
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import numpy as np
from pyspark.sql.functions import date_format
import statsmodels.api as sm
from statsmodels.formula.api import ols
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import OneHotEncoder, VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [66]:
# Create a spark session
spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "4g")
    .config("spark.executor.memory", "8g")
    .getOrCreate()
)

22/10/04 11:15:23 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [67]:
# Read in data from ETL.py file
%run '../scripts/ETL.py' '../scripts/paths.json'
final_join3.limit(5)

22/10/04 11:15:23 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+--------------------+------------+--------------------+---------+--------------+--------------------+--------------------+-----+------+------------------+------------------+--------------------+--------------+-------+-----------+---------+---------+---------+-------------------+----------------+-----------+-------------+-------------+----------+---------------+---------------+---------------+
|       merchant_name|merchant_abn|          categories|take_rate|revenue_levels|                name|             address|state|gender|trans_merchant_abn|      dollar_value|            order_id|order_datetime|user_id|consumer_id|postcodes|  int_sa2| SA2_code|           SA2_name|income_2018-2019|total_males|total_females|total_persons|state_code|     state_name|population_2020|population_2021|
+--------------------+------------+--------------------+---------+--------------+--------------------+--------------------+-----+------+------------------+------------------+--------------------+--------------+-------+-----------+---------+---------+---------+-------------------+----------------+-----------+-------------+-------------+----------+---------------+---------------+---------------+
|Egestas Nunc Asso...| 11121775571|digital goods: bo...|     6.58|             a|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       11121775571| 11.28829564583802|2bd2a61d-72e5-42d...|    2021-08-20|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
|Morbi Accumsan In...| 19618998054|tent and aWning s...|     1.52|             c|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       19618998054| 62.90176609196828|3582b1f8-4577-403...|    2021-05-16|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
| Eu Dolor Egestas PC| 94472466107|cable, satellite,...|     6.23|             a|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       94472466107|172.15375126873164|cb05d49f-c2fa-453...|    2021-07-22|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
|Urna Justo Indust...| 31472801314|music shops - mus...|     6.56|             a|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       31472801314|0.4894787650356477|aeec15c1-67e8-4cb...|    2021-05-18|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
|Eu Sem Pellentesq...| 35424691626|computers, comput...|      3.9|             b|Christopher Rodri...|30554 Evans Strea...|  NSW|  Male|       35424691626| 7.360217018778133|9df473ba-102d-461...|    2021-07-04|   3698|       1175|     2299|111031231|111031231|Shortland - Jesmond|       242936885|       6412|         6179|        12593|         1|New South Wales|          12598|          12694|
+--------------------+------------+--------------------+---------+--------------+--------------------+--------------------+-----+------+------------------+------------------+--------------------+--------------+-------+-----------+---------+---------+---------+-------------------+----------------+-----------+-------------+-------------+----------+---------------+---------------+---------------+

In [68]:
final_join3.count()

10540181

In [69]:
tagged_merchants = pd.read_csv("../data/curated/tagged_merchants.csv")
tagged_merchants = tagged_merchants.iloc[:,1:]
tagged_merchants.drop(['tags', 'name', 'cleaned_tags', 'store_type'], axis=1, inplace=True)
tagged_merchants.to_parquet("../data/curated/tagged_merchants.parquet")
tagged_merchants_sdf = spark.read.parquet("../data/curated/tagged_merchants.parquet")

In [70]:
tagged_merchants_sdf = tagged_merchants_sdf.withColumnRenamed('merchant_abn',

    'tagged_merchant_abn'
)

In [71]:
tagged_merchants_sdf.show(5)

+-------------------+--------------------+
|tagged_merchant_abn|            category|
+-------------------+--------------------+
|        10023283211|           Furniture|
|        10142254217|         Electronics|
|        10165489824|        Toys and DIY|
|        10187291046|        Toys and DIY|
|        10192359162|Books, Stationary...|
+-------------------+--------------------+
only showing top 5 rows

In [72]:
final_join3.createOrReplaceTempView("join")
tagged_merchants_sdf.createOrReplaceTempView("tagged")

joint = spark.sql(""" 

SELECT *
FROM join
INNER JOIN tagged
ON join.merchant_abn = tagged.tagged_merchant_abn
""")

joint = joint.drop('tagged_merchant_abn')

In [73]:
joint.count()

10109254

In [74]:
joint.createOrReplaceTempView("group")

a = spark.sql(""" 

SELECT *
FROM group
""")

In [75]:
# Extracting the year, month, day from the timestamp

a = a.withColumn("Year", 
date_format('order_datetime', 'yyyy'))

a  = a.withColumn("Month", 
date_format('order_datetime', 'MMMM'))


a = a.withColumn("Day",
date_format(("order_datetime"), "E"))

In [76]:
a.createOrReplaceTempView("agg")

pop_2021 = spark.sql(""" 

SELECT CONCAT(merchant_name, SA2_code, Year, Month, Day) AS pop_name, FIRST(population_2020) AS population
FROM agg
WHERE Year = '2021'
GROUP BY merchant_name, SA2_code, Year, Month, Day
""")

pop_2021.show(5)

pop_2022 = spark.sql(""" 

SELECT CONCAT(merchant_name, SA2_code, Year, Month, Day) AS pop_name, FIRST(population_2021) AS population
FROM agg
WHERE Year = '2022'
GROUP BY merchant_name, SA2_code, Year, Month, Day
""")
pop_2022.show(5)

+--------------------+----------+
|            pop_name|population|
+--------------------+----------+
|Metus Sit Amet In...|      6249|
|Ut Nisi Limited30...|      5126|
|Dolor Dolor Indus...|     21497|
|Ut Molestie Found...|      8321|
|Vivamus Sit LLC30...|      5126|
+--------------------+----------+
only showing top 5 rows

+--------------------+----------+
|            pop_name|population|
+--------------------+----------+
|Suspendisse Non L...|      5114|
|Dignissim Maecena...|      9771|
|Malesuada Vel Con...|      2172|
|Mollis Duis Sit F...|      9980|
|Placerat Eget Ven...|     15239|
+--------------------+----------+
only showing top 5 rows

In [77]:
a = a.drop('merchant_abn', 'categories','name', 'address', 'trans_merchant_abn', 'order_id','order_datetime','user_id','consumer_id','int_sa2',
'SA2_name','state_code','state_name','population_2020', 'population_2021')

In [78]:
 
# Find Count of Null, None, NaN of All DataFrame Columns
from pyspark.sql.functions import col,isnan, when, count
a.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in a.columns]
   ).show()

+-------------+---------+--------------+-----+------+------------+---------+--------+----------------+-----------+-------------+-------------+--------+----+-----+---+
|merchant_name|take_rate|revenue_levels|state|gender|dollar_value|postcodes|SA2_code|income_2018-2019|total_males|total_females|total_persons|category|Year|Month|Day|
+-------------+---------+--------------+-----+------+------------+---------+--------+----------------+-----------+-------------+-------------+--------+----+-----+---+
|            0|        0|             0|    0|     0|           0|        0|       0|               0|          0|            0|            0|       0|   0|    0|  0|
+-------------+---------+--------------+-----+------+------------+---------+--------+----------------+-----------+-------------+-------------+--------+----+-----+---+

In [79]:
a.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- postcodes: string (nullable = true)
 |-- SA2_code: long (nullable = true)
 |-- income_2018-2019: long (nullable = true)
 |-- total_males: long (nullable = true)
 |-- total_females: long (nullable = true)
 |-- total_persons: long (nullable = true)
 |-- category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Day: string (nullable = true)

In [80]:
a.createOrReplaceTempView("agg")

male = spark.sql(""" 

SELECT CONCAT(merchant_name, SA2_code, Year, Month, Day) AS m_name, COUNT(gender) as males
FROM agg
WHERE gender = 'Male'
GROUP BY merchant_name, SA2_code, Year, Month, Day
""")

male.show(5)

female = spark.sql(""" 

SELECT CONCAT(merchant_name, SA2_code, Year, Month, Day) AS f_name, COUNT(gender) as females
FROM agg
WHERE gender = 'Female'
GROUP BY merchant_name, SA2_code, Year, Month, Day
""")
female.show(5)

+--------------------+-----+
|              m_name|males|
+--------------------+-----+
|Pede Nonummy Corp...|    2|
|Suspendisse Dui C...|    1|
|Maecenas Industri...|    1|
|Lorem Ipsum Sodal...|    1|
|Ultricies Digniss...|    1|
+--------------------+-----+
only showing top 5 rows

+--------------------+-------+
|              f_name|females|
+--------------------+-------+
|Eget Company10902...|      2|
|Taciti PC10902117...|      1|
|Est Nunc Consulti...|      1|
|Eget Metus In Cor...|      1|
|Cras Eget Foundat...|      1|
+--------------------+-------+
only showing top 5 rows

In [81]:
a.show(2)

+--------------------+---------+--------------+-----+------+-----------------+---------+---------+----------------+-----------+-------------+-------------+--------------------+----+------+---+
|       merchant_name|take_rate|revenue_levels|state|gender|     dollar_value|postcodes| SA2_code|income_2018-2019|total_males|total_females|total_persons|            category|Year| Month|Day|
+--------------------+---------+--------------+-----+------+-----------------+---------+---------+----------------+-----------+-------------+-------------+--------------------+----+------+---+
|Egestas Nunc Asso...|     6.58|             a|  NSW|  Male|11.28829564583802|     2299|111031231|       242936885|       6412|         6179|        12593|Books, Stationary...|2021|August|Fri|
|Morbi Accumsan In...|     1.52|             c|  NSW|  Male|62.90176609196828|     2299|111031231|       242936885|       6412|         6179|        12593|Books, Stationary...|2021|   May|Sun|
+--------------------+---------+--------------+-----+------+-----------------+---------+---------+----------------+-----------+-------------+-------------+--------------------+----+------+---+
only showing top 2 rows

In [117]:
a.createOrReplaceTempView("agg")

temp = spark.sql(""" 

SELECT merchant_name, COUNT(merchant_name) AS no_of_transactions, SA2_code, Year, Month, Day, SUM(dollar_value) AS total_income,
    CONCAT(merchant_name, SA2_code, Year, Month, Day) AS join_col
FROM agg
GROUP BY merchant_name, SA2_code, Year, Month, Day
""")

temp.show()

22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:15:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------------+------------------+---------+----+---------+---+------------------+--------------------+
|       merchant_name|no_of_transactions| SA2_code|Year|    Month|Day|      total_income|            join_col|
+--------------------+------------------+---------+----+---------+---+------------------+--------------------+
|     Amet Associates|                 1|205031089|2022|   August|Wed| 87.32272444063014|Amet Associates20...|
| Est Nunc Consulting|                 6|406011133|2021|    March|Mon|166.18072722048151|Est Nunc Consulti...|
|Ipsum Ac Mi Assoc...|                 1|204011058|2022|     July|Sun| 2.970359552439327|Ipsum Ac Mi Assoc...|
|Gravida Aliquam T...|                 1|127021515|2021| December|Wed|481.42558340620184|Gravida Aliquam T...|
|Nonummy Ipsum Non...|                 1|304031092|2022|    April|Sat| 6.207192623859159|Nonummy Ipsum Non...|
|      Auctor Company|                 1|601021012|2021| December|Wed| 77.99527544733913|Auctor Company601...|
|    Lacus Consulting|                 2|208031185|2022|     June|Tue|107.26438582949794|Lacus Consulting2...|
|       Libero At LLC|                 1|405011110|2021| December|Fri|33.735001949775494|Libero At LLC4050...|
|Placerat Eget Ven...|                 4|407031161|2021| December|Mon|120.28563172160514|Placerat Eget Ven...|
|Id Erat Etiam Con...|                 1|801011017|2022|      May|Sun| 74.68943820012592|Id Erat Etiam Con...|
|Nibh Phasellus Nu...|                 1|406011133|2021| November|Sat| 540.9834342733662|Nibh Phasellus Nu...|
|Non Vestibulum In...|                 2|601061035|2022|  October|Sat| 70.46644994728916|Non Vestibulum In...|
| Malesuada Institute|                 1|308051535|2021|     July|Thu| 192.0012690027335|Malesuada Institu...|
|   Leo In Consulting|                 3|303041070|2022|      May|Tue|   82.013078872194|Leo In Consulting...|
|      Auctor Company|                 1|602021057|2021|    April|Fri|11.269751214252501|Auctor Company602...|
|  Pede Nonummy Corp.|                 1|217031476|2022|  January|Sat| 9.066420803048599|Pede Nonummy Corp...|
|Mauris Blandit Co...|                 1|311031312|2021|September|Wed| 4.083810505444027|Mauris Blandit Co...|
|Etiam Bibendum Fe...|                 1|405011111|2022|  October|Tue| 517.8966600157436|Etiam Bibendum Fe...|
|Sit Amet Dapibus LLC|                 1|209031212|2022|    March|Sat| 26.40154803159643|Sit Amet Dapibus ...|
|Volutpat Nulla In...|                 1|201021011|2022|  January|Mon| 200.1388753101042|Volutpat Nulla In...|
+--------------------+------------------+---------+----+---------+---+------------------+--------------------+
only showing top 20 rows

In [118]:
temp.createOrReplaceTempView("pop_join")

k = spark.sql(""" 

SELECT DISTINCT(Year)
FROM pop_join
""")

k.limit(5)

+----+
|Year|
+----+
|2022|
|2021|
+----+

In [119]:
temp.createOrReplaceTempView("pop_join1")
pop_2021.createOrReplaceTempView("pop2021")

pop2 = spark.sql(""" 

SELECT *
FROM pop_join1
INNER JOIN pop2021
ON pop_join1.join_col = pop2021.pop_name
WHERE pop_join1.Year == '2021'
""")

pop2.limit(5)

+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+
|merchant_name|no_of_transactions| SA2_code|Year|    Month|Day|      total_income|            join_col|            pop_name|population|
+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+
|A Aliquet Ltd|                 1|111011206|2021|   August|Sun|144.92626003254605|A Aliquet Ltd1110...|A Aliquet Ltd1110...|     17986|
|A Aliquet Ltd|                 1|119011358|2021|    March|Fri|170.85311633083847|A Aliquet Ltd1190...|A Aliquet Ltd1190...|     17359|
|A Aliquet Ltd|                 1|119011572|2021|September|Mon| 189.1723204191432|A Aliquet Ltd1190...|A Aliquet Ltd1190...|     18209|
|A Aliquet Ltd|                 1|119021362|2021| December|Sun|108.62765682595965|A Aliquet Ltd1190...|A Aliquet Ltd1190...|     20616|
|A Aliquet Ltd|                 1|120031393|2021|    March|Tue|313.17032618991084|A Aliquet Ltd1200...|A Aliquet Ltd1200...|     17780|
+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+

In [120]:
temp.createOrReplaceTempView("pop_join2")
pop_2022.createOrReplaceTempView("pop2022")

pop3 = spark.sql(""" 

SELECT *
FROM pop_join2
INNER JOIN pop2022
ON pop_join2.join_col = pop2022.pop_name
WHERE pop_join2.Year == '2022'
""")

pop3.limit(5)

+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+
|merchant_name|no_of_transactions| SA2_code|Year|    Month|Day|      total_income|            join_col|            pop_name|population|
+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+
|A Aliquet Ltd|                 1|111021217|2022|   August|Wed| 141.8509610912289|A Aliquet Ltd1110...|A Aliquet Ltd1110...|     16456|
|A Aliquet Ltd|                 1|111031232|2022|      May|Mon|105.23461363171437|A Aliquet Ltd1110...|A Aliquet Ltd1110...|      8809|
|A Aliquet Ltd|                 1|119011572|2022|September|Tue|462.94946210748094|A Aliquet Ltd1190...|A Aliquet Ltd1190...|     18500|
|A Aliquet Ltd|                 1|121021406|2022|     July|Sun|215.25168650638156|A Aliquet Ltd1210...|A Aliquet Ltd1210...|     19199|
|A Aliquet Ltd|                 1|201011002|2022|      May|Fri|345.51374065819294|A Aliquet Ltd2010...|A Aliquet Ltd2010...|     12076|
+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+

In [121]:
total_pop = pop2.union(pop3)

In [122]:
total_pop.limit(3)

+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+
|merchant_name|no_of_transactions| SA2_code|Year|    Month|Day|      total_income|            join_col|            pop_name|population|
+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+
|A Aliquet Ltd|                 1|111011206|2021|   August|Sun|144.92626003254605|A Aliquet Ltd1110...|A Aliquet Ltd1110...|     17986|
|A Aliquet Ltd|                 1|119011358|2021|    March|Fri|170.85311633083847|A Aliquet Ltd1190...|A Aliquet Ltd1190...|     17359|
|A Aliquet Ltd|                 1|119011572|2021|September|Mon| 189.1723204191432|A Aliquet Ltd1190...|A Aliquet Ltd1190...|     18209|
+-------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+----------+

In [123]:
total_pop.createOrReplaceTempView("check")

g = spark.sql(""" 

SELECT DISTINCT(Year)
FROM check

""")

g.show()

+----+
|Year|
+----+
|2021|
|2022|
+----+

In [124]:
temp.createOrReplaceTempView("gender_join")
male.createOrReplaceTempView("m")
female.createOrReplaceTempView("f")

temp2 = spark.sql(""" 

SELECT *
FROM gender_join
INNER JOIN m
ON gender_join.join_col = m.m_name
""")

temp2.createOrReplaceTempView("temp2")

temp3 = spark.sql(""" 

SELECT *
FROM temp2
INNER JOIN f
ON temp2.join_col = f.f_name
""")

temp3.limit(5)

+--------------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+-----+--------------------+-------+
|       merchant_name|no_of_transactions| SA2_code|Year|    Month|Day|      total_income|            join_col|              m_name|males|              f_name|females|
+--------------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+-----+--------------------+-------+
|   A Arcu Industries|                 2|309011227|2021|  October|Mon|453.44732762052706|A Arcu Industries...|A Arcu Industries...|    1|A Arcu Industries...|      1|
|A Auctor Non Corp...|                 2|205031089|2022|   August|Wed|165.03443648170074|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|
|A Auctor Non Corp...|                 2|211051282|2022|  October|Wed|121.21960880156465|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|
|A Auctor Non Corp...|                 2|211051286|2021|September|Tue|122.00792368624354|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|
|A Auctor Non Corp...|                 2|303041070|2022|      May|Mon|47.254634232186206|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|
+--------------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+-----+--------------------+-------+

In [125]:
temp3.createOrReplaceTempView("check")

g = spark.sql(""" 

SELECT DISTINCT(Year)
FROM check

""")

g.show()

+----+
|Year|
+----+
|2022|
|2021|
+----+

In [126]:
total_pop = total_pop.drop('merchant_name', 'no_of_transactions', 'SA2_code', 'Year', 'Month', 'Day', 'total_income', 'pop_name')

In [127]:
temp3.createOrReplaceTempView("join_gender_pop")
total_pop.createOrReplaceTempView("pop_view")

f = spark.sql(""" 

SELECT *
FROM join_gender_pop
INNER JOIN pop_view
ON join_gender_pop.join_col = pop_view.join_col

""")

f.limit(5)

22/10/04 12:22:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:22:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/10/04 12:22:32 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:22:32 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:22:32 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:22:32 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:22:32 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/10/04 12:22:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/10/04 12:22:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:22:38 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+-----+--------------------+-------+--------------------+----------+
|       merchant_name|no_of_transactions| SA2_code|Year|    Month|Day|      total_income|            join_col|              m_name|males|              f_name|females|            join_col|population|
+--------------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+-----+--------------------+-------+--------------------+----------+
|   A Arcu Industries|                 2|309011227|2021|  October|Mon|453.44732762052706|A Arcu Industries...|A Arcu Industries...|    1|A Arcu Industries...|      1|A Arcu Industries...|     13956|
|A Auctor Non Corp...|                 2|205031089|2022|   August|Wed|165.03443648170074|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|A Auctor Non Corp...|      9783|
|A Auctor Non Corp...|                 2|211051282|2022|  October|Wed|121.21960880156465|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|A Auctor Non Corp...|      9771|
|A Auctor Non Corp...|                 2|211051286|2021|September|Tue|122.00792368624354|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|A Auctor Non Corp...|     16984|
|A Auctor Non Corp...|                 2|303041070|2022|      May|Mon|47.254634232186206|A Auctor Non Corp...|A Auctor Non Corp...|    1|A Auctor Non Corp...|      1|A Auctor Non Corp...|      7679|
+--------------------+------------------+---------+----+---------+---+------------------+--------------------+--------------------+-----+--------------------+-------+--------------------+----------+

In [128]:
f.createOrReplaceTempView("k")

l = spark.sql("""
SELECT DISTINCT(Year)
FROM k

""")

l.show()

+----+
|Year|
+----+
|2022|
|2021|
+----+

In [129]:
a = a.withColumnRenamed('income_2018-2019',

    'income_2018_2019'    
)

a = a.withColumn('income_per_persons',
    (F.col('income_2018_2019')/F.col('total_persons'))
)

In [130]:
a.show(1)

+--------------------+---------+--------------+-----+------+-----------------+---------+---------+----------------+-----------+-------------+-------------+--------------------+----+------+---+------------------+
|       merchant_name|take_rate|revenue_levels|state|gender|     dollar_value|postcodes| SA2_code|income_2018_2019|total_males|total_females|total_persons|            category|Year| Month|Day|income_per_persons|
+--------------------+---------+--------------+-----+------+-----------------+---------+---------+----------------+-----------+-------------+-------------+--------------------+----+------+---+------------------+
|Egestas Nunc Asso...|     6.58|             a|  NSW|  Male|11.28829564583802|     2299|111031231|       242936885|       6412|         6179|        12593|Books, Stationary...|2021|August|Fri|19291.422615738902|
+--------------------+---------+--------------+-----+------+-----------------+---------+---------+----------------+-----------+-------------+-------------+--------------------+----+------+---+------------------+
only showing top 1 row

In [131]:
a.createOrReplaceTempView("features")

e = spark.sql(""" 

SELECT merchant_name AS drop_name, FIRST(take_rate) AS take_rate, FIRST(revenue_levels) AS revenue_levels, FIRST(category) AS category,
    FIRST(total_males) AS males_in_SA2, FIRST(total_females) AS females_in_SA2, FIRST(income_per_persons) AS income_per_person
FROM features
GROUP BY merchant_name
""")

e.show(2)

+---------------+---------+--------------+--------------------+------------+--------------+------------------+
|      drop_name|take_rate|revenue_levels|            category|males_in_SA2|females_in_SA2| income_per_person|
+---------------+---------+--------------+--------------------+------------+--------------+------------------+
|   A Associates|     4.95|             b|Books, Stationary...|        9762|         10846|22526.523772559674|
|A Felis Company|     4.32|             b|Books, Stationary...|        1080|          1051| 33927.61168708765|
+---------------+---------+--------------+--------------------+------------+--------------+------------------+
only showing top 2 rows

In [132]:
f.createOrReplaceTempView("edit")
e.createOrReplaceTempView("rates")

temp5 = spark.sql(""" 

SELECT *
FROM edit
INNER JOIN rates
ON edit.merchant_name = rates.drop_name
""")

In [133]:
train = temp5.drop('m_name', 'f_name', 'drop_name', 'join_col')

train.limit(5)

+--------------------+------------------+---------+----+---------+---+------------------+-----+-------+----------+---------+--------------+---------+------------+--------------+-----------------+
|       merchant_name|no_of_transactions| SA2_code|Year|    Month|Day|      total_income|males|females|population|take_rate|revenue_levels| category|males_in_SA2|females_in_SA2|income_per_person|
+--------------------+------------------+---------+----+---------+---+------------------+-----+-------+----------+---------+--------------+---------+------------+--------------+-----------------+
|   A Arcu Industries|                 2|309011227|2021|  October|Mon|453.44732762052706|    1|      1|     13956|      3.0|             c|Furniture|        4821|          4683|25816.03452631579|
|A Auctor Non Corp...|                 2|205031089|2022|   August|Wed|165.03443648170074|    1|      1|      9783|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|
|A Auctor Non Corp...|                 2|211051282|2022|  October|Wed|121.21960880156465|    1|      1|      9771|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|
|A Auctor Non Corp...|                 2|211051286|2021|September|Tue|122.00792368624354|    1|      1|     16984|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|
|A Auctor Non Corp...|                 2|303041070|2022|      May|Mon|47.254634232186206|    1|      1|      7679|     5.58|             a|Furniture|        2067|          2014|22634.72370679088|
+--------------------+------------------+---------+----+---------+---+------------------+-----+-------+----------+---------+--------------+---------+------------+--------------+-----------------+

In [134]:
train.createOrReplaceTempView("h")

j = spark.sql(""" 

SELECT DISTINCT(Year)
FROM h

""")

j.show()

+----+
|Year|
+----+
|2022|
|2021|
+----+

In [135]:
train.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- no_of_transactions: long (nullable = false)
 |-- SA2_code: long (nullable = true)
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- total_income: double (nullable = true)
 |-- males: long (nullable = false)
 |-- females: long (nullable = false)
 |-- population: long (nullable = true)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- category: string (nullable = true)
 |-- males_in_SA2: long (nullable = true)
 |-- females_in_SA2: long (nullable = true)
 |-- income_per_person: double (nullable = true)

In [136]:
train.count()

507978

In [137]:
# String indexing the categorical columns

indexer = StringIndexer(inputCols = ['merchant_name', 'SA2_code', 'Year', 'Month', 'Day', 'revenue_levels','category'],
outputCols = ['merchant_name_num', 'SA2_code_num', 'Year_num', 'Month_num', 'Day_num', 'revenue_levels_num','category_num'])

indexd_data = indexer.fit(train).transform(train)


# Applying onehot encoding to the categorical data that is string indexed above
encoder = OneHotEncoder(inputCols = ['merchant_name_num', 'SA2_code_num', 'Year_num', 'Month_num', 'Day_num', 'revenue_levels_num','category_num'],
outputCols = ['merchant_name_vec', 'SA2_code_vec', 'Year_vec', 'Month_vec', 'Day_vec', 'revenue_levels_vec','category_vec'])

onehotdata = encoder.fit(indexd_data).transform(indexd_data)


# Assembling the training data as a vector of features 
assembler1 = VectorAssembler(
inputCols=['population','total_income','take_rate', 'merchant_name_vec', 'SA2_code_vec', 'Year_vec', 'Month_vec', 'Day_vec', 'revenue_levels_vec','category_vec','males_in_SA2', 'females_in_SA2', 'income_per_person'],
outputCol= "features" )

outdata1 = assembler1.transform(onehotdata)

In [138]:
# Renaming the target column as label

outdata1 = outdata1.withColumnRenamed(
    "no_of_transactions",
    "label"
)

In [139]:
# Assembling the features as a feature vector 

featureIndexer =\
    VectorIndexer(inputCol="features", 
    outputCol="indexedFeatures").fit(outdata1)

outdata1 = featureIndexer.transform(outdata1)

22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/10/04 12:32:10 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:11 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:32:11 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

In [140]:
# Split the data into training and validation sets (30% held out for testing)

trainingData, testData = outdata1.randomSplit([0.7, 0.3], seed = 20)

In [141]:
trainingData.count(), testData.count()

22/10/04 12:34:37 WARN DAGScheduler: Broadcasting large task binary with size 1465.6 KiB

22/10/04 12:36:00 WARN DAGScheduler: Broadcasting large task binary with size 1465.6 KiB

(355711, 152267)

In [142]:
# Train a RandomForest model.
rf = RandomForestRegressor(featuresCol="indexedFeatures")


# Train model.  
model = rf.fit(trainingData)

# Make predictions.
predictions_validation = model.transform(testData)

22/10/04 12:37:21 WARN DAGScheduler: Broadcasting large task binary with size 1469.5 KiB

22/10/04 12:37:23 WARN DAGScheduler: Broadcasting large task binary with size 1469.6 KiB

22/10/04 12:37:31 WARN DAGScheduler: Broadcasting large task binary with size 1473.5 KiB

22/10/04 12:37:38 WARN DAGScheduler: Broadcasting large task binary with size 1626.4 KiB

22/10/04 12:37:43 WARN MemoryStore: Not enough space to cache rdd_13749_3 in memory! (computed 168.8 MiB so far)
22/10/04 12:37:43 WARN BlockManager: Persisting block rdd_13749_3 to disk instead.

22/10/04 12:37:51 WARN MemoryStore: Not enough space to cache rdd_13749_12 in memory! (computed 21.2 MiB so far)
22/10/04 12:37:51 WARN BlockManager: Persisting block rdd_13749_12 to disk instead.
22/10/04 12:37:51 WARN MemoryStore: Not enough space to cache rdd_13749_13 in memory! (computed 21.2 MiB so far)
22/10/04 12:37:51 WARN BlockManager: Persisting block rdd_13749_13 to disk instead.
22/10/04 12:37:51 WARN MemoryStore: Not enough space to cache rdd_13749_10 in memory! (computed 74.8 MiB so far)
22/10/04 12:37:51 WARN BlockManager: Persisting block rdd_13749_10 to disk instead.
22/10/04 12:37:51 WARN MemoryStore: Not enough space to cache rdd_13749_11 in memory! (computed 74.8 MiB so far)
22/10/04 12:37:51 WARN BlockManager: Persisting block rdd_13749_11 to disk instead.
22/10/04 12:37:51 WARN MemoryStore: Not enough space to cache rdd_13749_9 in memory! (computed 168.8 MiB so far)
22/10/04 12:37:51 WARN BlockManager: Persisting block rdd_13749_9 to disk instead.
22/10/04 12:37:52 WARN MemoryStore: Not enough space to cache rdd_13749_15 in memory! (computed 112.5 MiB so far)
22/10/04 12:37:52 WARN BlockManager: Persisting block rdd_13749_15 to disk instead.
22/10/04 12:37:52 WARN MemoryStore: Not enough space to cache rdd_13749_10 in memory! (computed 13.9 MiB so far)
22/10/04 12:37:52 WARN MemoryStore: Not enough space to cache rdd_13749_11 in memory! (computed 4.0 MiB so far)
22/10/04 12:37:53 WARN MemoryStore: Not enough space to cache rdd_13749_13 in memory! (computed 112.5 MiB so far)
22/10/04 12:37:53 WARN MemoryStore: Not enough space to cache rdd_13749_12 in memory! (computed 168.8 MiB so far)
22/10/04 12:37:54 WARN MemoryStore: Not enough space to cache rdd_13749_15 in memory! (computed 49.0 MiB so far)

22/10/04 12:37:57 WARN DAGScheduler: Broadcasting large task binary with size 1707.6 KiB
22/10/04 12:37:57 WARN MemoryStore: Not enough space to cache rdd_13749_7 in memory! (computed 74.8 MiB so far)
22/10/04 12:37:57 WARN MemoryStore: Not enough space to cache rdd_13749_2 in memory! (computed 74.8 MiB so far)
22/10/04 12:37:57 WARN MemoryStore: Not enough space to cache rdd_13749_4 in memory! (computed 112.5 MiB so far)
22/10/04 12:37:57 WARN MemoryStore: Not enough space to cache rdd_13749_1 in memory! (computed 74.8 MiB so far)
22/10/04 12:37:57 WARN MemoryStore: Not enough space to cache rdd_13749_5 in memory! (computed 112.5 MiB so far)

22/10/04 12:38:00 WARN MemoryStore: Not enough space to cache rdd_13749_10 in memory! (computed 168.8 MiB so far)
22/10/04 12:38:00 WARN MemoryStore: Not enough space to cache rdd_13749_11 in memory! (computed 168.8 MiB so far)
22/10/04 12:38:00 WARN MemoryStore: Not enough space to cache rdd_13749_12 in memory! (computed 74.8 MiB so far)
22/10/04 12:38:00 WARN MemoryStore: Not enough space to cache rdd_13749_13 in memory! (computed 32.2 MiB so far)
22/10/04 12:38:01 WARN MemoryStore: Not enough space to cache rdd_13749_15 in memory! (computed 4.0 MiB so far)

22/10/04 12:38:04 WARN DAGScheduler: Broadcasting large task binary with size 1867.7 KiB
22/10/04 12:38:04 WARN MemoryStore: Not enough space to cache rdd_13749_7 in memory! (computed 74.8 MiB so far)
22/10/04 12:38:04 WARN MemoryStore: Not enough space to cache rdd_13749_1 in memory! (computed 74.8 MiB so far)
22/10/04 12:38:04 WARN MemoryStore: Not enough space to cache rdd_13749_4 in memory! (computed 112.5 MiB so far)
22/10/04 12:38:04 WARN MemoryStore: Not enough space to cache rdd_13749_2 in memory! (computed 74.8 MiB so far)
22/10/04 12:38:04 WARN MemoryStore: Not enough space to cache rdd_13749_5 in memory! (computed 112.5 MiB so far)

22/10/04 12:38:07 WARN MemoryStore: Not enough space to cache rdd_13749_11 in memory! (computed 112.5 MiB so far)
22/10/04 12:38:07 WARN MemoryStore: Not enough space to cache rdd_13749_13 in memory! (computed 6.1 MiB so far)
22/10/04 12:38:07 WARN MemoryStore: Not enough space to cache rdd_13749_12 in memory! (computed 74.8 MiB so far)
22/10/04 12:38:07 WARN MemoryStore: Not enough space to cache rdd_13749_15 in memory! (computed 1812.5 KiB so far)

22/10/04 12:38:10 WARN DAGScheduler: Broadcasting large task binary with size 2.1 MiB
22/10/04 12:38:10 WARN MemoryStore: Not enough space to cache rdd_13749_1 in memory! (computed 32.2 MiB so far)
22/10/04 12:38:10 WARN MemoryStore: Not enough space to cache rdd_13749_2 in memory! (computed 49.0 MiB so far)
22/10/04 12:38:10 WARN MemoryStore: Not enough space to cache rdd_13749_5 in memory! (computed 49.0 MiB so far)
22/10/04 12:38:10 WARN MemoryStore: Not enough space to cache rdd_13749_4 in memory! (computed 49.0 MiB so far)
22/10/04 12:38:10 WARN MemoryStore: Not enough space to cache rdd_13749_7 in memory! (computed 32.2 MiB so far)

22/10/04 12:38:13 WARN MemoryStore: Not enough space to cache rdd_13749_12 in memory! (computed 49.0 MiB so far)
22/10/04 12:38:13 WARN MemoryStore: Not enough space to cache rdd_13749_15 in memory! (computed 13.9 MiB so far)
22/10/04 12:38:13 WARN MemoryStore: Not enough space to cache rdd_13749_13 in memory! (computed 32.2 MiB so far)
22/10/04 12:38:13 WARN MemoryStore: Not enough space to cache rdd_13749_11 in memory! (computed 112.5 MiB so far)

22/10/04 12:38:16 WARN DAGScheduler: Broadcasting large task binary with size 2.8 MiB
22/10/04 12:38:16 WARN MemoryStore: Not enough space to cache rdd_13749_1 in memory! (computed 21.2 MiB so far)
22/10/04 12:38:16 WARN MemoryStore: Not enough space to cache rdd_13749_2 in memory! (computed 32.2 MiB so far)
22/10/04 12:38:16 WARN MemoryStore: Not enough space to cache rdd_13749_5 in memory! (computed 32.2 MiB so far)
22/10/04 12:38:16 WARN MemoryStore: Not enough space to cache rdd_13749_4 in memory! (computed 49.0 MiB so far)
22/10/04 12:38:16 WARN MemoryStore: Not enough space to cache rdd_13749_7 in memory! (computed 74.8 MiB so far)

22/10/04 12:38:20 WARN MemoryStore: Not enough space to cache rdd_13749_14 in memory! (computed 49.0 MiB so far)
22/10/04 12:38:20 WARN MemoryStore: Not enough space to cache rdd_13749_12 in memory! (computed 74.8 MiB so far)
22/10/04 12:38:20 WARN MemoryStore: Not enough space to cache rdd_13749_13 in memory! (computed 49.0 MiB so far)
22/10/04 12:38:20 WARN MemoryStore: Not enough space to cache rdd_13749_15 in memory! (computed 32.2 MiB so far)

In [143]:
# Evaluate the validation set 

predictions_validation.select("prediction", "label", "features").show(5)

# Select (prediction, true label) and compute test error

evaluator_train_rmse = RegressionEvaluator(
    labelCol="label", predictionCol="prediction", metricName="rmse")
rmse_train = evaluator_train_rmse.evaluate(predictions_validation)
print("Root Mean Squared Error (RMSE) on train data = %g" % rmse_train)

evaluator_train_mae = RegressionEvaluator(
    labelCol="label", predictionCol="prediction", metricName="mae")
mae_train = evaluator_train_mae.evaluate(predictions_validation)
print("Root Mean Squared Error (MAE) on train data = %g" % mae_train)

22/10/04 12:39:38 WARN DAGScheduler: Broadcasting large task binary with size 1479.8 KiB

+------------------+-----+--------------------+
|        prediction|label|            features|
+------------------+-----+--------------------+
| 2.693018038431682|    2|(2836,[0,1,2,223,...|
|2.4900416514576786|    2|(2836,[0,1,2,223,...|
| 2.842157709786944|    2|(2836,[0,1,2,491,...|
|2.9143724624405882|    2|(2836,[0,1,2,491,...|
| 2.332463710096093|    2|(2836,[0,1,2,191,...|
+------------------+-----+--------------------+
only showing top 5 rows

22/10/04 12:40:51 WARN DAGScheduler: Broadcasting large task binary with size 1474.7 KiB

22/10/04 12:40:59 WARN DAGScheduler: Broadcasting large task binary with size 1475.8 KiB
Root Mean Squared Error (RMSE) on train data = 1.3103

22/10/04 12:41:10 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/10/04 12:41:11 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:41:11 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:41:12 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:41:12 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/10/04 12:41:12 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/10/04 12:42:14 WARN DAGScheduler: Broadcasting large task binary with size 1474.7 KiB

22/10/04 12:42:22 WARN DAGScheduler: Broadcasting large task binary with size 1475.8 KiB
Root Mean Squared Error (MAE) on train data = 0.888493