In [ ]:
# Read in data from ETL.py file
%run "../scripts/ETL.py"

In [4]:
# Download the covid and SA2 datasets 
%run "../scripts/external_data_download.py"

14195505

In [ ]:
# Download the covid and SA2 datasets 
%run "../scripts/external_data_cleaning.py"

## Part 1: Loading Data

In [2]:
tbl_consumer.limit(5)

+-----------------+--------------------+-----+--------+------+---------------+
|             name|             address|state|postcode|gender|int_consumer_id|
+-----------------+--------------------+-----+--------+------+---------------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|Female|        1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|Female|         179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|Female|        1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|Female|         154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|Female|         712975|
+-----------------+--------------------+-----+--------+------+---------------+

In [3]:
tbl_merchants.limit(5)

+--------------------+------------+--------------------+---------+--------------+
|       merchant_name|merchant_abn|          categories|take_rate|revenue_levels|
+--------------------+------------+--------------------+---------+--------------+
|       Felis Limited| 10023283211|furniture, home f...|     0.18|             e|
|Arcu Ac Orci Corp...| 10142254217|cable, satellite,...|     4.22|             b|
|    Nunc Sed Company| 10165489824|jewelry, watch, c...|      4.4|             b|
|Ultricies Digniss...| 10187291046|wAtch, clock, and...|     3.29|             b|
| Enim Condimentum PC| 10192359162|music shops - mus...|     6.33|             a|
+--------------------+------------+--------------------+---------+--------------+

In [4]:
user_details.limit(5)

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
+-------+-----------+

In [5]:
transactions.limit(5)

+-------------+------------------+------------------+--------------------+--------------+
|trans_user_id|trans_merchant_abn|      dollar_value|            order_id|order_datetime|
+-------------+------------------+------------------+--------------------+--------------+
|           72|       49322182190|125.34568695852914|6e581ca7-1bd9-49f...|    2021-02-28|
|        19178|       69418468754| 287.5762580072778|c3f739c6-5b00-45a...|    2021-02-28|
|          439|       53126107676|121.00688402721032|02b3107f-6904-44b...|    2021-02-28|
|        19010|       46987545043|146.31743777244844|a13fdb4a-e670-445...|    2021-02-28|
|        19028|       20562405782| 99.21268393783859|3a6ef3ec-1c1c-452...|    2021-02-28|
+-------------+------------------+------------------+--------------------+--------------+

## Part 2: Preliminary Analysis

### Observe counts and schemas of raw data

In [6]:
print("Counts for transactions: ", transactions.count())
print("Schema for transactions")
transactions.printSchema()

Counts for transactions:  8151372
Schema for transactions
root
 |-- trans_user_id: long (nullable = true)
 |-- trans_merchant_abn: long (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)

In [7]:
print("Counts for user_details: ", user_details.count())
print("Schema for user_details")
user_details.printSchema()

Counts for user_details:  499999
Schema for user_details
root
 |-- user_id: long (nullable = true)
 |-- consumer_id: long (nullable = true)

In [8]:
print("Counts for tbl_merchants: ", tbl_merchants.count())
print("Schema for tbl_merchants")
tbl_merchants.printSchema()

Counts for tbl_merchants:  4026
Schema for tbl_merchants
root
 |-- merchant_name: string (nullable = true)
 |-- merchant_abn: long (nullable = true)
 |-- categories: string (nullable = true)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)

In [9]:
print("Counts for tbl_consumer: ", tbl_consumer.count())
print("Schema for tbl_consumer")
tbl_consumer.printSchema()

Counts for tbl_consumer:  499999
Schema for tbl_consumer
root
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- int_consumer_id: long (nullable = true)

### Observe data after joins

In [10]:
print("Count of rows after joining transactions to user details: ", trans_user.count())
print("Count of rows after joining consumer to above data: ", add_consumer.count())
print("Count of rows after joining merchants to above data: ", final_join.count())

Count of rows after joining transactions to user details:  8151372

Count of rows after joining consumer to above data:  8151372

Count of rows after joining merchants to above data:  8151379

In [11]:
final_join.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- merchant_abn: long (nullable = true)
 |-- categories: string (nullable = true)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- trans_merchant_abn: long (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)
 |-- user_id: long (nullable = true)
 |-- consumer_id: long (nullable = true)