## Part 1: Extracting, Transforming and Loading Data

### Running the ETL Script

In this section, we run our ETL script which.....

In [1]:
# Read in data from ETL.py file
%run "../scripts/ETL.py"

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/13 16:33:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Download the covid and SA2 datasets 
%run "../scripts/external_data_download.py"

In [4]:
# Download the covid and SA2 datasets 
%run "../scripts/external_data_cleaning.py"

### Observing the Internal Dataset

Our internal dataset is made up of 6 internal datasets:
- Merchants
- Consumer
- User Details
- Transactions
- Consumer Fraud
- Merchant Fraud

In [10]:
print("Counts for merchants dataset: ", tbl_merchants.count())
print("Counts for consumer dataset: ", tbl_consumer.count())
print("Counts for user details dataset: ", user_details.count())
print("Counts for transactions dataset: ", transactions.count())
print("Counts for consumer fraud dataset: ", fraud_consumer.count())
print("Counts for merchant fraud dataset: ", fraud_merchants.count())

Counts for merchants dataset:  4026
Counts for consumer dataset:  499999
Counts for user details dataset:  499999

Counts for transactions dataset:  14195505
Counts for consumer fraud dataset:  34864
Counts for merchant fraud dataset:  114

First we print the first 5 rows of our internal dataset, it's schema and it's row count:

In [8]:
print("Counts for internal dataset: ", final_join.count())
print("Schema for internal dataset: ")
final_join.printSchema()
final_join.limit(5)

Counts for internal dataset:  14195505
Schema for internal dataset:
root
 |-- merchant_name: string (nullable = true)
 |-- merchant_abn: long (nullable = true)
 |-- categories: string (nullable = true)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- trans_merchant_abn: long (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)
 |-- user_id: long (nullable = true)
 |-- consumer_id: long (nullable = true)

+-------------+------------+--------------------+---------+--------------+---------------+--------------------+-----+--------+-----------+------------------+------------------+--------------------+--------------+-------+-----------+
|merchant_name|merchant_abn|          categories|take_rate|revenue_levels|           name|             address|state|postcode|     gender|trans_merchant_abn|      dollar_value|            order_id|order_datetime|user_id|consumer_id|
+-------------+------------+--------------------+---------+--------------+---------------+--------------------+-----+--------+-----------+------------------+------------------+--------------------+--------------+-------+-----------+
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|Roberto Robbins|3146 Eric Turnpik...|  NSW|    2396|       Male|       10023283211| 74.68707218671928|b36e56d0-dbb2-479...|    2021-08-11|  23679|       6664|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|  Kelly Krueger|     039 Green Route|   WA|    6935|Undisclosed|       10023283211| 319.4986425058244|51798dc0-8a7b-4cd...|    2021-12-28|   2199|       8509|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|   Brianna Hart|850 Joshua Viaduc...|   WA|    6415|     Female|       10023283211|123.61804677878001|edc9c5b1-82a0-4ee...|    2021-10-13|  19278|      15265|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|      Jose Frye|394 Matthews View...|  NSW|    2021|       Male|       10023283211|191.63853773963905|376cc026-5d91-498...|    2021-07-04|   5156|      19115|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e| Matthew Waters|729 Harper Spring...|   WA|    6253|       Male|       10023283211|250.13111867397248|0220b2de-768c-49e...|    2022-07-09|  23774|      20250|
+-------------+------------+--------------------+---------+--------------+---------------+--------------------+-----+--------+-----------+------------------+------------------+--------------------+--------------+-------+-----------+

[Discussion about internal dataset]

[Discussion about joins]

In [10]:
print("Count of rows after joining transactions to user details: ", trans_user.count())
print("Count of rows after joining consumer to above data: ", add_consumer.count())
print("Count of rows after joining merchants to above data: ", final_join.count())

Count of rows after joining transactions to user details:  8151372

Count of rows after joining consumer to above data:  8151372

Count of rows after joining merchants to above data:  8151379

### Observing Covid-19 Dataset