## Part 1: Extracting, Transforming and Loading Data

### Running the ETL Script

In this section, we run our ETL script which.....

In [4]:
# Read in data from ETL.py file
%run "../scripts/ETL.py"

22/09/21 00:41:41 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [3]:
final_join3.head(5)

[Row(merchant_name=None, merchant_abn=None, categories=None, take_rate=None, revenue_levels=None, name='Lawrence Tyler', address='3511 Victoria Meadow', state='NSW', gender='Male', trans_merchant_abn=32234779638, dollar_value=39.304036732369084, order_id='02e36af7-8c70-4367-89fb-7d6d763895af', order_datetime=datetime.date(2021, 11, 30), user_id=18983, consumer_id=36103, postcodes='2212', int_sa2=119011360, SA2_code=119011360, SA2_name='Revesby', income_2018-2019=576485403, total_males=8603, total_females=9061, total_persons=17664, state_code=1, state_name='New South Wales', population_2020=17719, population_2021=17710),
 Row(merchant_name='Lorem Ipsum Sodales Industries', merchant_abn=43186523025, categories='florists supplies, nurSery stock, and flowers', take_rate=4.47, revenue_levels='b', name='Lawrence Tyler', address='3511 Victoria Meadow', state='NSW', gender='Male', trans_merchant_abn=43186523025, dollar_value=56.35375319523918, order_id='a1d3526c-f212-41fe-8339-d8e576f31347', order_datetime=datetime.date(2022, 6, 6), user_id=18983, consumer_id=36103, postcodes='2212', int_sa2=119011360, SA2_code=119011360, SA2_name='Revesby', income_2018-2019=576485403, total_males=8603, total_females=9061, total_persons=17664, state_code=1, state_name='New South Wales', population_2020=17719, population_2021=17710),
 Row(merchant_name='Pede Blandit LLP', merchant_abn=28517327395, categories='books, periodicals, and newspapers', take_rate=0.47, revenue_levels='e', name='Lawrence Tyler', address='3511 Victoria Meadow', state='NSW', gender='Male', trans_merchant_abn=28517327395, dollar_value=276.3597685809581, order_id='b90e183b-25d4-4a64-a67a-9a43b9d2b821', order_datetime=datetime.date(2022, 6, 14), user_id=18983, consumer_id=36103, postcodes='2212', int_sa2=119011360, SA2_code=119011360, SA2_name='Revesby', income_2018-2019=576485403, total_males=8603, total_females=9061, total_persons=17664, state_code=1, state_name='New South Wales', population_2020=17719, population_2021=17710),
 Row(merchant_name='Nullam Suscipit LLC', merchant_abn=86388904574, categories='computers, computer peripheral equipment, and software', take_rate=4.96, revenue_levels='b', name='Lawrence Tyler', address='3511 Victoria Meadow', state='NSW', gender='Male', trans_merchant_abn=86388904574, dollar_value=121.9799348513232, order_id='4c55adbf-7114-4bd3-aab1-135361c491ca', order_datetime=datetime.date(2022, 5, 24), user_id=18983, consumer_id=36103, postcodes='2212', int_sa2=119011360, SA2_code=119011360, SA2_name='Revesby', income_2018-2019=576485403, total_males=8603, total_females=9061, total_persons=17664, state_code=1, state_name='New South Wales', population_2020=17719, population_2021=17710),
 Row(merchant_name='Phasellus At Limited', merchant_abn=76767266140, categories='furniture, home furnishings and equipment shops, and manufacturers,  except aPpliances', take_rate=4.65, revenue_levels='b', name='Lawrence Tyler', address='3511 Victoria Meadow', state='NSW', gender='Male', trans_merchant_abn=76767266140, dollar_value=59.46778996058449, order_id='4e66a3c6-9691-44a9-8d70-6763a5a76fab', order_datetime=datetime.date(2022, 3, 5), user_id=18983, consumer_id=36103, postcodes='2212', int_sa2=119011360, SA2_code=119011360, SA2_name='Revesby', income_2018-2019=576485403, total_males=8603, total_females=9061, total_persons=17664, state_code=1, state_name='New South Wales', population_2020=17719, population_2021=17710)]

### Observing the Internal Dataset

Our internal dataset is made up of 6 internal datasets:
- Merchants
- Consumer
- User Details
- Transactions
- Consumer Fraud
- Merchant Fraud

In [10]:
print("Counts for merchants dataset: ", tbl_merchants.count())
print("Counts for consumer dataset: ", tbl_consumer.count())
print("Counts for user details dataset: ", user_details.count())
print("Counts for transactions dataset: ", transactions.count())
print("Counts for consumer fraud dataset: ", fraud_consumer.count())
print("Counts for merchant fraud dataset: ", fraud_merchants.count())

Counts for merchants dataset:  4026
Counts for consumer dataset:  499999
Counts for user details dataset:  499999

Counts for transactions dataset:  14195505
Counts for consumer fraud dataset:  34864
Counts for merchant fraud dataset:  114

First we print the first 5 rows of our internal dataset, it's schema and it's row count:

In [8]:
print("Counts for internal dataset: ", final_join.count())
print("Schema for internal dataset: ")
final_join.printSchema()
final_join.limit(5)

Counts for internal dataset:  14195505
Schema for internal dataset:
root
 |-- merchant_name: string (nullable = true)
 |-- merchant_abn: long (nullable = true)
 |-- categories: string (nullable = true)
 |-- take_rate: double (nullable = true)
 |-- revenue_levels: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- trans_merchant_abn: long (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)
 |-- user_id: long (nullable = true)
 |-- consumer_id: long (nullable = true)

+-------------+------------+--------------------+---------+--------------+---------------+--------------------+-----+--------+-----------+------------------+------------------+--------------------+--------------+-------+-----------+
|merchant_name|merchant_abn|          categories|take_rate|revenue_levels|           name|             address|state|postcode|     gender|trans_merchant_abn|      dollar_value|            order_id|order_datetime|user_id|consumer_id|
+-------------+------------+--------------------+---------+--------------+---------------+--------------------+-----+--------+-----------+------------------+------------------+--------------------+--------------+-------+-----------+
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|Roberto Robbins|3146 Eric Turnpik...|  NSW|    2396|       Male|       10023283211| 74.68707218671928|b36e56d0-dbb2-479...|    2021-08-11|  23679|       6664|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|  Kelly Krueger|     039 Green Route|   WA|    6935|Undisclosed|       10023283211| 319.4986425058244|51798dc0-8a7b-4cd...|    2021-12-28|   2199|       8509|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|   Brianna Hart|850 Joshua Viaduc...|   WA|    6415|     Female|       10023283211|123.61804677878001|edc9c5b1-82a0-4ee...|    2021-10-13|  19278|      15265|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e|      Jose Frye|394 Matthews View...|  NSW|    2021|       Male|       10023283211|191.63853773963905|376cc026-5d91-498...|    2021-07-04|   5156|      19115|
|Felis Limited| 10023283211|furniture, home f...|     0.18|             e| Matthew Waters|729 Harper Spring...|   WA|    6253|       Male|       10023283211|250.13111867397248|0220b2de-768c-49e...|    2022-07-09|  23774|      20250|
+-------------+------------+--------------------+---------+--------------+---------------+--------------------+-----+--------+-----------+------------------+------------------+--------------------+--------------+-------+-----------+

[Discussion about internal dataset]

[Discussion about joins]

In [10]:
print("Count of rows after joining transactions to user details: ", trans_user.count())
print("Count of rows after joining consumer to above data: ", add_consumer.count())
print("Count of rows after joining merchants to above data: ", final_join.count())

Count of rows after joining transactions to user details:  8151372

Count of rows after joining consumer to above data:  8151372

Count of rows after joining merchants to above data:  8151379

### Observing Covid-19 Dataset

### Observing SA2 Datasets